
.calendar { POSITION: absolute; WIDTH:260px; HEIGHT: 285px; PADDING:0;DISPLAY: none; FLOAT: left;border:1px solid #cccccc;background:#fff;padding:10px;}
.calendar .calMain { WIDTH:260px; HEIGHT:285px; FLOAT: left; OVERFLOW: hidden; POSITION: absolute; }
.calendar .calMain .calTitle { WIDTH: 100%; FLOAT: left; HEIGHT: 45px;  OVERFLOW: hidden; }
.calendar .calMain .calTitle .t_date {/* WIDTH: 149px; FLOAT: left;*//* HEIGHT: 23px; COLOR: #fff; FONT-WEIGHT: bold; LINE-HEIGHT: 23px; TEXT-ALIGN: center; */}
.calendar .calMain .calTitle .prevMonth { WIDTH: 15px; HEIGHT: 15px; FLOAT: left; MARGIN: 4px 0 0 5px; CURSOR: pointer; BACKGROUND: url(../images/date_bg.png) no-repeat 5px -83px; display:none;}
.calendar .calMain .calTitle .nextMonth { WIDTH: 15px; HEIGHT: 15px; FLOAT: right; MARGIN: 4px 5px 0 0; CURSOR: pointer; BACKGROUND: url(../images/date_bg.png) no-repeat 6px -152px; display:none;}
.calendar .calMain .calTitle .currentYear:hover,
.calendar .calMain .calTitle .currentMonth:hover{ color:#000;}
.calendar .calMain .calTitle .currentYearText { FLOAT: left; MARGIN: 0 0px 0 0; CURSOR: pointer;width:78px;height:28px; line-height:28px;color:#5c5c5c;border:1px solid #ccc; text-indent:10px; margin-right:10px; background:url(../images/dialogue/icon-down.png) no-repeat center right;}
.calendar .calMain .calTitle .currentMonthText { FLOAT: left; CURSOR: pointer; WIDTH: 30px; TEXT-ALIGN: left;width:78px;height:28px; line-height:28px;color:#5c5c5c;border:1px solid #ccc;text-indent:10px;background:url(../images/dialogue/icon-down.png) no-repeat center right}
.calendar .calMain .calTitle .btn-today{ FLOAT: right; CURSOR: pointer; WIDTH: 30px; TEXT-ALIGN: center;width:78px;height:28px; line-height:28px;color:#5c5c5c;border:1px solid #ccc;}

.calendar .calMain .calContent { WIDTH: 378px; HEIGHT: 250px; FLOAT: left; }
.calendar .calMain .calContent .enabled { POSITION: absolute; WIDTH: 100%; HEIGHT: 255px; FLOAT: left; }
.calendar .calMain .calContent .reserve { POSITION: absolute; WIDTH:100%; HEIGHT: 255px; FLOAT: left; }
.calendar .calMain .calContent .tabD { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0;border-bottom:1px solid #e6e6e6;border-right:1px solid #e6e6e6;border-top:1px solid #e6e6e6; }
.calendar .calMain .calContent .tabD th {  LINE-HEIGHT: 35px; FONT-WEIGHT: normal; PADDING-BOTTOM: 4px; COLOR: #9e9e9e; }
.calendar .calMain .calContent .tabD th.f {border-left:1px solid #e6e6e6;}
.calendar .calMain .calContent .tabD td { COLOR: #313332; TEXT-ALIGN: center; LINE-HEIGHT:32px; WIDTH: 32px; border-top:1px solid #e6e6e6;border-left:1px solid #e6e6e6; }
.calendar .calMain .calContent .tabD td span { COLOR: #C0C0C0; }
.calendar .calMain .calContent .tabD td a { LINE-HEIGHT: 32px; FLOAT: none; MARGIN: 0; CURSOR: pointer; COLOR: #51729D; display:block;}
.calendar .calMain .calContent .tabD td .nextD { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabD td .prevD { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabD td .hover { LINE-HEIGHT: 32px; background:#e5e5e5; FLOAT: none; MARGIN:0; }
.calendar .calMain .calContent .tabD td .current {LINE-HEIGHT: 32px;FLOAT: none; MARGIN:0; background:#e5e5e5}
.calendar .calMain .calContent .tabD td .select {LINE-HEIGHT: 32px; BACKGROUND: #c03;COLOR: #fff; FLOAT: none; MARGIN: 0; }


.calendar .calMain .calContent .tabM { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0; }
.calendar .calMain .calContent .tabM td { COLOR: #1F3959; TEXT-ALIGN: center; HEIGHT: 50px; WIDTH: 47px;}
.calendar .calMain .calContent .tabM td a { WIDTH: 42px; LINE-HEIGHT: 42px; FLOAT: left; MARGIN: 0px 0 0 2px; CURSOR: pointer; COLOR: #51729D; }
.calendar .calMain .calContent .tabM td .hover ,
.calendar .calMain .calContent .tabM td .current,
.calendar .calMain .calContent .tabM td .select {  WIDTH: 40px; LINE-HEIGHT: 40px; BORDER:0; FLOAT: left; MARGIN: 0px 0 0 2px; background:#c03;color:#fff; }
.calendar .calMain .calContent .tabY { WIDTH: 100%; FLOAT: left; BORDER-COLLAPSE: collapse; BORDER-SPACING: 0; BORDER: 0; }
.calendar .calMain .calContent .tabY td { COLOR: #1F3959; TEXT-ALIGN: center; HEIGHT: 50px; WIDTH: 47px; }
.calendar .calMain .calContent .tabY td a { WIDTH: 42px; LINE-HEIGHT: 42px; FLOAT: left; MARGIN: 0px 0 0 2px; CURSOR: pointer; COLOR: #51729D; }
.calendar .calMain .calContent .tabY td .nextY { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabY td .prevY { COLOR: #BCCADC; }
.calendar .calMain .calContent .tabY td .hover ,
.calendar .calMain .calContent .tabY td .current ,
.calendar .calMain .calContent .tabY td .select { WIDTH: 40px; LINE-HEIGHT: 40px; BORDER:0; FLOAT: left; MARGIN: 0px 0 0 2px; background:#c03;color:#fff; }
.calendar .calMain a:hover { TEXT-DECORATION: none; }
