/*重置*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;font-size: 0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
/*q:before,q:after{content: ;}*/
abbr,acronym{border:0;}
body{color:#666;
    /*font: 12px/1.5 '微软雅黑',tahoma,arial,'Hiragino Sans GB',宋体,sans-serif;*/
}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix {zoom:1;}	
/*旋转木马必要样式*/
.poster-main{ position:relative;width:950px;height:270px;}
.poster-main a,.poster-main img{display:block;}
.poster-main .poster-list{width:800px;height:270px;}
.poster-main .poster-list .poster-item{ position:absolute;left:0;top:0;}
.poster-main .poster-btn{ position:absolute;top:0;width:100px;height:270px; z-index:10; cursor:pointer;  opacity:0.8}
.poster-main .poster-prev-btn{left:0; background: url(../images/bannerLeft.png) no-repeat center center;}
.poster-main .poster-next-btn{right:0; background: url(../images/bannerRight.png) no-repeat center center;}
@media screen and (max-width:500px) {
    .poster-main .poster-prev-btn {
        background-size: 80%;
    }
    .poster-main .poster-next-btn {
        background-size: 80%;
    }
}
