.up .photo .img .btn-upload {z-index: 1;opacity: 0;filter: alpha(opacity=0);width: 66px;height: 66px;cursor: pointer;position: absolute;left: 0;top: 0;}
.up .photograph .img .btn-upload {z-index: 1;opacity: 0;filter: alpha(opacity=0);width: 66px;height: 66px;cursor: pointer;position: absolute;left: 0;top: 0;}
#main .dialogue .di.di_center .dialog_box ul li.r_v .d_content.d_content_2 ,.dialog_box ul li .d_content.d_content_2{　　word-break:break-all;word-wrap:break-word;color:#000;}
.content .input_section .center .fill_in .btn{ overflow:inherit;}
.content .input_section .center .fill_in .btn .the_btn_1{display:block;width:24px;height:24px;background:url(../images/online/expression.png) no-repeat;float:left;position:relative; z-index:10;}
.content .input_section .center .fill_in .btn .the_btn_1:hover{
  background:url(../images/online/expression_red.png) no-repeat;
}
.content .input_section .center .fill_in .btn .the_btn_1.active .face,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1.active .face{ display:block;}
.content .input_section .center .fill_in .btn .the_btn_1 .f{width:24px;height:24px;cursor:pointer;}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .f{width:17px;height:17px;}
.content .input_section .center .fill_in .btn .the_btn_1 .face,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .face{width:446px;height:218px;background:url(../images/face-bg.png);display:none;position:absolute;left:-103px;bottom:20px;}
.content .input_section .center .fill_in .btn .the_btn_1 .face .fin,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .face .fin{width:434px;height:186px;overflow:hidden;position:relative;left:6px;top:6px;}
.content .input_section .center .fill_in .btn .the_btn_1 .face ul li,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .face ul li{width:80px;height:80px;border:1px solid #fff;cursor:pointer;float:left;text-align:center; clear:inherit;}
.content .input_section .center .fill_in .btn .the_btn_1 .face ul li img,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .face ul li img{width:60px;}
.content .input_section .center .fill_in .btn .the_btn_1 .face ul li:hover,
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn_1 .face ul li:hover{border:1px solid #c2c2c2;}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br{height:110px;}
#main .dialogue .di.di_center .dialog_box ul li.r_v .d_content.d_content_2 .img{width:auto;height:auto;}
#main .dialogue .di.di_center .dialog_box ul li.r_v .d_content.d_content_2 .img img{max-width:123px;max-height:123px;}
.img-face{max-width:80px;}
.dialog_box ul li .d_content{background:#c03;color:#fff;}
.dialog_box ul li .d_content .icon_s{ background:url(../images/dialogue/icon_s2.png);}
.dialog_box ul li .d_content .title{font-size:12px;font-weight:bold;}

.dialog_box ul li .d_content .p_r,.content .input_section .center ul li .p_r{opacity:0.7;font-size:12px;margin-top:2px;}
.dialog_box ul li .d_content .price,.content .input_section .center ul li .price{color:#fff;font-weight:bold;margin-top:3px;}
.dialog_box ul li .d_content .price .span1,.content .input_section .center ul li .price .span1{font-size:24px;}
.dialog_box ul li .d_content .price .span2,.content .input_section .center ul li .price .span2{font-size:12px;margin-left:5px;}
.dialog_box ul li .d_content .price .span3,.content .input_section .center ul li .price .span3{text-decoration:line-through;}
.dialog_box ul li .d_content .icon,.content .input_section .center ul li {overflow:hidden;margin:7px 0;}
.dialog_box ul li .d_content .icon .l_icon,.content .input_section .center ul li .icon .l_icon{float:left;margin-right:20px;font-size:12px;opacity:0.7;}
.dialog_box ul li .d_content .icon .l_icon span,.content .input_section .center ul li .icon .l_icon span{display:inline-table;background:url(../images/dialogue/right2.png);width:13px;height:14px;vertical-align:middle;position:static;margin-right:10px;margin-top:-3px;}
.dialog_box ul li .d_content .time2{font-size:12px;font-weight:bold;opacity:0.8;}
.dialog_box ul li .d_content .time2 span{font-weight:normal;opacity:0.7;margin-left:20px;}

.content .fast .face{ display:none;}
.content .fast .face .fin{width:100%;height:175px;overflow:hidden;position:relative;left:6px;top:6px;}
.content .fast .face ul li{width:65px;height:85px;border:1px solid #fff;cursor:pointer;float:left;text-align:center;}
.content .fast .face ul li img{width:55px;}

.popup_w{width:520px; margin-left:-310px;padding:30px 50px; display:none;}
.popup_w .title{ text-align:left; line-height:55px;border-bottom:1px solid #ccc; margin-bottom:20px;}
.popup_w .select{width:254px; margin:0;overflow: hidden;}
.popup_w .select2{width:100%; margin:0;}
.popup_w .select p{width:222px;height:38px; line-height:38px; text-indent:10px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;padding-right: 30px;}
.popup_w .select2 p{width:488px;}
.popup_w .select span.icon-down{top:16px;right:15px;}
.popup_w .input{width:252px;height:38px; line-height:38px; text-indent:4px;margin:0;}
.popup_w .input .input_z{height:38px; vertical-align:top; margin-left:7px;}
.popup_w #submit{height:40px; line-height:40px; font-size:16px; margin-left:0; float:none;width:100%;}
.popup_w .red{color:#c03;}
.popup_w dl.d{margin-bottom:8px;}
.popup_w dl.d dt{line-height:36px; font-size:14px;}
.popup_w dl.d dt.hide{
  text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}
.popup_w dl.d dd .txtEndDater{
    width: 252px;
    height: 36px;
    line-height: 38px;
    border: 1px solid #ccc;
    text-indent: 10px;
    font-size: 14px;
    background: url(../images/manage/calendar.png) 217px center no-repeat;
    cursor: pointer;
}
.calendar{
  z-index: 100000!important;
}
.popup_w .fl{ float:left}
.popup_w .fr{ float:right}
.popup_w .text{width:252px;height:38px; line-height:38px; border:1px solid #ccc; text-indent:10px; font-size:14px;}
.popup_w .text.width-bai{
  width: 518px;
}
.popup_w .text.text2{width:360px;}
.popup_w .code{width:90px;height:40px;}
.popup_w .btn-h{width:140px;height:40px; line-height:40px;color:#000; font-size:14px; text-align:center; background:#e7e8ea;display:inline-table; vertical-align:middle; float:right;}
.popup_w .btnh{ vertical-align:middle; display:inline-table; line-height:40px;}
.popup_w .tip{color:#c03; font-size:14px;padding-top:15px;}




/****************************************************************************/
.grab_a_single_all{ position:fixed;bottom:0; min-width:1180px; z-index:100;}
.content .input_section .center .fill_in{ z-index:11;}
.content .input_section .center .dialogue .time {
  font-size: 12px;
  text-align: center;
  color: #aaaaaa;
  padding: 20px 0;
  cursor: pointer;
}
.content .input_section .center .dialogue .time span {
  display: inline-table;
  width: 13px;
  height: 13px;
  background: url(../images/online/time_small.png);
  vertical-align: middle;
  position: static;
  margin-right: 5px;
  margin-top: -3px;
}
.content .input_section .center ul{
	overflow: hidden;
	margin-bottom: 30px;
}
.content .input_section .center ul li{
	margin-bottom: 20px;
	overflow: hidden;
	float: left;
	clear:both;
}
.content .input_section .center ul li.r_v{ float:right;}
.content .input_section .center ul li .portrait{
	width: 62px;
	height: 62px;
	overflow: hidden;
	border-radius: 50%;
	float: left;
	margin-left: 20px;
}
.content .input_section .center ul li .portrait img{
	width: 100%;
	height: 100%;
}
.content .input_section .center ul li .z_content{
	float: left;
	position: relative;
	margin-left: 15px;
	margin-top: 10px;
}
.content .input_section .center ul li .z_content .z_content_c{
  background: #ececec;
  max-width: 258px;
  margin-left: 8px;
  font-size: 14px;
	line-height: 24px;
	padding: 10px;
  z-index: 11;
  position: relative;
  overflow: hidden;
	min-height:20px;
	border-radius:10px;
  word-break:break-all; 
}
.content .input_section .center ul li .z_content .z_content_c a.red{
  color: #c03;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}
.content .input_section .center ul li .z_content .z_content_c a.red .icon-sm{
    display: inline-table;
    width: 14px;
    height: 11px;
    background: url(../images/dialogue/icon-sm-red.png);
    vertical-align: middle;
    position: static;
    margin-left: 5px;
    margin-top: -3px;
}
.content .input_section .center ul li.rig_t .z_content .z_content_c a.red .icon-sm{
   background: url(../images/dialogue/icon-sm-white.png);
}
.content .input_section .center ul li .z_content .z_content_c a.red:hover{
  color: #ae002b;
}
.content .input_section .center ul li .z_content .z_content_c a:hover{
	color: #000;
}
.content .input_section .center ul li.rig_t .z_content .z_content_c a{
  color: #fff;
}
.content .input_section .center ul li.rig_t .z_content .z_content_c a:hover{
  color: #fff;
}
.content .input_section .center ul li .z_content .z_content_c .title{
    font-size: 14px;
}
.content .input_section .center ul li .z_content .z_content_c .introduce{
    margin-top: 5px;
    overflow: hidden;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .img{
	float: left;
	width: 87px;
	height: 87px;
	overflow: hidden;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .img img{
	width: 100%;
	height: 100%;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .r_ctn{
	float: left;
	margin-left: 10px;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .r_ctn h4{
	font-size: 14px;
	line-height: 18px;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .r_ctn span{
	font-size: 12px;
	line-height: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  margin-top: 5px;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .r_ctn .div_btn{
  font-size: 14px;
  margin-top: 10px;
}
.content .input_section .center ul li .z_content .z_content_c .introduce .r_ctn h3{
    font-size: 16px;
}
.content .input_section .center ul li .z_content .z_content_top{
	background: url(../images/online/top_gray.png) no-repeat;
	width: 20px;
	height: 36px;
	position: absolute;
	top: 0;
	z-index: 10;
}
.content .input_section .center ul li .z_content .z_content_btn{
	background: url(../images/online/btn_gray.png) no-repeat;
	width: 20px;
	height: 8px;
	position: absolute;
	bottom: 0;
	z-index: 10;
	left: 8px;
	display:none;
}
.content .input_section .center ul li.rig_t{
	float: right;
}
.content .input_section .center ul li.rig_t .portrait{
   float: right;
   margin-left: 0;
   margin-right: 20px;
}
.content .input_section .center ul li.rig_t .z_content{
	margin-left: 0;
	margin-right: 15px;
}
.content .input_section .center ul li.rig_t .z_content .z_content_top{
	background: url(../images/online/top_red.png) no-repeat right 0;
	width: 20px;
	height: 40px;
	right: 0;
}
.content .input_section .center ul li.rig_t .z_content .z_content_c{
	background: #ce0231;
	color: #fff;
	max-width: 300px;
	margin-right: 9px;
	margin-bottom: 9px;
}
.content .input_section .center ul li.rig_t .z_content .z_content_btn{
	background: url(../images/online/btn_red.png) no-repeat;
	width: 20px;
	height: 9px;
	right: 0;
	display:none;
}
.content .input_section .center ul li.see_more{
   text-align: center;
   float: none;
}
.content .input_section .center ul li.see_more a{
   text-align: center;
   display: block;
   color: #cccccc;
   font-size: 12px;
}
.content .input_section .center ul li.see_more a:hover{
  color: #000000;
}
.content .input_section .center ul li.see_more a:hover img.black{
  display: inline-block;
}
.content .input_section .center ul li.see_more a:hover img.gray{
  display: none;
}
.content .input_section .center ul li.see_more a img{
  margin-top: 2px;
  margin-right: 5px;
}
.content .input_section .center ul li.see_more a img.black{
  display: none;
}
.content .input_section .center ul li.t_time{
  width: 100%;
  font-size: 12px;
  color: #a2a2a2;
}
.content .input_section .center ul li.t_time .time{
  margin: 0 20px;
  text-align: center;
  background: url(../images/online/line.png) no-repeat 0 7px;
}

.content .input_section .center ul li.prompt_time {
  font-size: 12px;
  text-align: center;
  background: url(../images/dialogue/line.png) no-repeat center center;
  color: #a2a2a2;
  opacity: 0.8;
  float:none;
  clear:both;
}




.content .input_section .center ul li .img {
  max-width: 123px;
  max-height: 123px;
  cursor: pointer;
}
.content .input_section .center ul li .img img {
  max-width: 123px;
  max-height: 123px;
}
.content .input_section .center ul li .l_img {
  width: 53px;
  height: 53px;
  float: left;
}
.content .input_section .center ul li .l_img img {
  width: 100%;
  height: 100%;
}
.content .input_section .center ul li .r_ct {
  float: left;
  margin-left: 10px;
}
.content .input_section .center ul li .r_ct h2 {
  font-size: 14px;
}
.content .input_section .center ul li .r_ct h3 {
  font-size: 14px;
  opacity: 0.4;
}
.content .input_section .center ul li .r_ct .jin {
  width: 100%;
  height: 4px;
  background: #e5e5e5;
}
.content .input_section .center ul li .r_ct .jin .progress {
  height: 100%;
  width: 50%;
  background: #cecece;
}

.content .input_section .center ul li .r_ctn {
  float: left;
  margin-left: 10px;
  max-width:161px;
  font-size:12px;
}
.content .input_section .center ul li .r_ctn h2 {
  font-size: 14px;
  margin-top: -5px;
}
.content .input_section .center ul li .r_ctn p {
  font-size: 12px;
}
.content .input_section .center ul li .r_ctn h3 {
  font-size: 16px;
  margin-top: 3px;
}
.content .input_section .center ul li .time2{ clear:both;}

.popup_w select{ position:absolute;left:0;top:0;width:100%;height:100%;}
.select select {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
@media screen and (max-width: 1024px){
  .popup_w .btnh{
    line-height: 20px;
    color: #000;
  }
  .popup_w .fr2 .btnh{
    line-height: 40px;
    display: inline-block;
    width: 37%;
  }
  .popup_w .d.fl-w{
    float: none;
    width: 100%;
  }
  .popup_w .d.fl-w .select p{
    width: 93%;
    padding-right: 6%;
  }
  .popup_w{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0;
    padding:0;
  }
  .popup_w .all_right{
    padding: 30px 20px;
  }
  .popup_w .fl{
    width: 48%;
  }
  .popup_w .fr{
    width: 48%;
  }
  .popup_w .select{
    width: 100%;
  }
  .popup_w .select p{
    width: 90%;
    padding-right: 8%;
  }
  .popup_w .text{
    width: 98.5%;
  }
  .popup_w .text.width-bai{
    width: 98.7%;
  }
  .popup_w .text.text2{
    width: 60%;
  }
  .popup_w .select span.icon-down{
    right: 10px;
  }
  .popup_w .fr.fr2,.popup_w .btn-h{
    width: 36%;
  }
  .popup_w .code{
    width: 51%;
    display: inline-block;
  }
  .popup_w dl.d dd .txtEndDater{
    width: 98%;
    background: url(../images/manage/calendar2.png) right center no-repeat;
  }
  .popup_w .select.select2 p{
    width: 93%;
    padding-right: 6%;
  }
}



