#main.main-sign {
  margin-bottom: 0;
}
#main .sign_in {
  background: url(../images/sign_in/bj.jpg);
  width: 100%;
  overflow: hidden;
  min-height: 500px;
  margin: 0 auto;
  color: #000;
}
#main .sign_in .the_right {
  float: right;
  width: 50%;
  overflow: hidden;
}
#main .sign_in .the_right .title_w {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  margin-top: 200px;
}
#main .sign_in .the_right p {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 25px;
}
#main .sign_in .the_right a.register {
  height: 40px;
  line-height: 40px;
  width: 100%;
  background: #000;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  display: block;
  margin-top: 30px;
  margin-bottom: 60px;
  display: none;
}
#main .sign_in .the_right a.register:hover {
  background: #434c53;
}
#main .sign_in2 {
  width: 100%;
  overflow: hidden;
  max-width: 1180px;
  margin: 0 auto;
  color: #000;
}
.account {
  width: 372px;
  min-height: 300px;
  background: url(../images/sign_in/account.png);
  float: right;
  padding: 0 20px;
  overflow: hidden;
  margin: 43px 0;
}
.account_c {
  width: 100%;
  min-height: 300px;
  padding: 0 20px;
  overflow: hidden;
  margin: 43px 0;
}
.account .page_title {
  padding-top: 25px;
  padding-bottom: 10px;
  overflow: hidden;
}
.account_c .page_title_c {
  text-align:center;
  padding-top: 25px;
  padding-bottom: 10px;
  overflow: hidden;
}
.account .page_title h2 {
  float: left;
  font-weight: bold;
  font-size: 18px;
}
.account .page_title a.btn {
  overflow: hidden;
  font-size: 12px;
  float: right;
  margin-top:7px;
}
.account .page_title a.btn span {
  display: inline-table;
  background: url(../images/sign_in/icon.png);
  width: 11px;
  height: 9px;
  margin-left: 3px;
}
.account .page_title a.btn:hover {
  color: #c03;
}
.account .remarks {
  font-size: 12px;
  color: #525252;
  line-height: 24px;
  cursor: pointer;
}
.account .input_z {
  width: 370px;
  height: 38px;
  border: 1px solid #bdbdbd;
  padding: 0;
  margin: 0;
  background: transparent;
  text-indent: 10px;
  margin-top: 20px;
  font-size: 12px;
  border-radius: 0;
  -webkit-appearance: none;
}
.prompt{
  font-size: 12px;
  color: #cc0033;
  margin-top: 10px;
  height: 18px;
  line-height: 18px;
}
.prompt span {
  width: 18px;
  height: 18px;
  display: block;
  float: left;
  margin-right: 5px;
}
.account .choice {
  overflow: hidden;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin: 15px 0;
}
.account .choice a {
  overflow: hidden;
  color: #525252;
}
.account .choice a:hover {
  color: #525252;
}
.account .choice .l_btn {
  float: left;
  position: relative;
  padding-left: 25px;
}
.account .choice .l_btn span {
  display: block;
  background: url(../images/manage/circula_k.png) no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
}
.account .choice .l_btn.active span {
  background: url(../images/manage/circula_red.png) no-repeat;
}
.account .choice .r_btn {
  float: right;
  text-decoration: underline;
}
.account .choice .r_btn:hover {
  color: #c03;
}
.account a.land {
  width: 100%;
  height: 40px;
  background: #c03;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: block;
  font-weight: bold;
}
.account_c a.yes {
  width: 180px;
  height: 40px;
  background: #c03;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: block;
  font-weight: bold;
  float:left;
  margin-top:40px;
}
.account_c a.no {
  width: 180px;
  height: 40px;
  background: #000000;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  display: block;
  font-weight: bold;
  float:right;
  margin-top:40px;
}
.account a.land:hover {
  background: #ae002b;
}
.account .social.social_2{
  margin-bottom: 25px;
}
.account .social {
  margin: 30px 0;
  margin-bottom: 0px;
}
.account .social .soc {
  font-size: 14px;
}
.account .social .icon {
  overflow: hidden;
  height: 18px;
  line-height: 18px;
  margin-top: 10px;
}
.account .social .icon .icon_z {
  float: left;
  position: relative;
  font-size: 12px;
  padding-left: 25px;
  display: block;
  line-height: 18px;
  margin-right: 20px;
}
.account .social .icon .icon_z span {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 19px;
  height: 18px;
  background: url(../images/sign_in/qq.png);
}
.account .social .icon .icon_z span.span_l {
  background: url(../images/sign_in/weixin.png);
  width: 18px;
}
.background {
  width: 100%;
  height: 100%;
  background: url(../images/online/background.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1004;
  display: none;
}
.background.background_w {
  display: block;
}

/*.popupv.popup_c{*/
/*display: block;*/
/*}*/

.popupv.popup_z{
  display: block;
}

.popupv {
  width: 500px;
  background: #fff;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -258px;
  z-index: 99999;
  display: none;
}
/*fhx加的*/
.popupr{
  width: 417px;
  height: 227px;
  background: #fff;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -258px;
  z-index: 1001;
  display: none;
}
.background_w {
  background-color: #3b3b3b;
  opacity: 0.5;
}
.popupr .close{
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 8px;
  color: #fff;
  text-align: center;
  position: absolute;
  top:0;
  right: 0;
  background-color: #3b3b3b;
}
.popupr .page_title{
  width: 94%;
  height: 18%;
  margin: 65px auto;
  text-align: center;
}
.popupr .page_title h1 span{
  display: inline-block;
  color: #bb0a30;
}
.popupr .couponLand{
  position: absolute;
  bottom: 20%;
  left: 23%;
  width: 51%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  background-color: #bb0a30;
  color: #fff;
  font-weight: 700;
}
.message{
  width: 417px;
  height: 227px;
  padding-top: 64px;
  box-sizing: border-box;
  text-align: center;
  font-size: 19px;
  background: #fff;
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 55%;
  margin-top: -258px;
  z-index: 1001;
  display: none;
  font-family:"Microsoft Yahei";
}
.message .text{
  font-size: 30px;
  height: 30px;
  line-height: 30px;
  font-weight: 700;
}
.message .clo{
  height: 60px;
}
.message .clo p{
  width:200px ;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  margin: 0 auto;
  margin-top: 56px;
  background-color: #bb0a30;
}
.popupv .close {
  position: absolute;
  display: block;
  background: url(../images/dialogue/close_br.png);
  width: 38px;
  height: 38px;
  right: 10px;
  top: 10px;
}
.popupv .close:hover {
  background: url(../images/dialogue/close_br_h.png);
}
.popupv .content {
  margin: 50px 50px;
  color: #000;
  padding:0;
  width: auto;
}
.popupv .content .top {
  font-size: 18px;
  font-weight: bold;
}
.popupv .content .input_all {
  width: 100%;
  margin-top: 20px;
}
.popupv .content .input_all .input_z {
  height: 38px;
  outline: none;
  border: 1px solid #d5d5d5;
  width: 99.5%;
  text-indent: 10px;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.popupv .content .input_all .input {
  width: 100%;
  overflow: hidden;
}
.popupv .content .input_all .input .input_z {
  width: 59.5%;
  float: left;
}
.popupv .content .input_all .input_w {
  width: 100%;
  overflow: hidden;
}
.popupv .content .input_all .input_w .input_z {
  width: 59.5%;
  float: left;
}
.popupv .content .input_all .input_w .button {
  float: left;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #e7e8ea;
  color: #000;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding: 0;
  float: right;
  width: 38%;
}
.popupv .content .input_all .img {
  width: 21%;
  margin-left: 2%;
  float: left;
  height: 40px;
  overflow: hidden;
}
.popupv .content .input_all .img img {
  height: 100%;
}
.popupv .content .input_all a {
  display: block;
  float: left;
  width: 17%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
}
.popupv .content a.btn_w {
  display: block;
  float: left;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  background: #c03;
  margin-top: 30px;
  margin-bottom: 40px;
}
.popupv .content a.btn_w:hover {
  background: #ae002b;
}
.popupv .content a.btn_v {
  display: inline-table;
  font-size: 14px;
}
.popupv .content a.btn_v span {
  display: inline-table;
  background: url(../images/sign_in/icon.png);
  width: 11px;
  height: 9px;
  margin-left: 3px;
}
.popupv .account {
  width: auto;
  margin-top: 0;
  padding: 50px;
  height: auto;
  min-height: auto;
  color: #000;
  margin-bottom: 0;
}
.popupv .account_c {
  width: auto;
  margin-top: 0;
  padding: 50px;
  height: auto;
  min-height: 0;
  color: #000;
  margin-bottom: 0;
}

.popupv .account_loan{
  margin-top: 0;
  padding: 50px;
  height: auto;
  min-height: auto;
  color: #000;
  margin-bottom: 0;
  overflow: hidden;
}
.loan_amount_allinfo{
  margin-top: 10px;
}
.popupv .account_loan .loan_amount_title {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}
.popupv .account_loan .loan_amount_info {
  font-size:15px;
  text-align: center;
}
.popupv .account_loan .loan_amount_ps {
  font-size:15px;
  text-align: center;
  color: grey;
}
.popupv .account_loan .loan_amount_in {
  font-size:15px;
  text-align: center;
  color: #000;
  margin-top: 10px;
}
.popupv .account .page_title {
  padding-top: 0;
}
.popupv .account .input_z {
  width: 397px;
}
@media screen and (max-width: 1280px) {
  #main .sign_in {
    width: 94%;
  }
}
@media screen and (max-width: 950px) {
  #main .sign_in .the_right .account {
    width: 343px;
  }
  #main .sign_in .the_right .account .input_z {
    width: 340px;
  }
}
@media screen and (max-width: 850px) {
  #main {
    background: #fff;
  }
  #main .sign_in {
    height: auto;
    background: #fff;
  }
  #main .sign_in .the_right {
    float: none;
    width: 100%;
  }
  #main .sign_in .the_right .account {
    height: auto;
    width: 100%;
    padding: 0;
    margin-top: 0;
  }
  #main .sign_in .the_right .account .page_title {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
  }
  #main .sign_in .the_right .account .page_title h2 {
    font-size: 24px;
  }
  #main .sign_in .the_right .account .page_title a.btn {
    display: none;
  }
  #main .sign_in .the_right .account .remarks {
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 0;
  }
  #main .sign_in .the_right .account .input_z {
    width: 99%;
  }
  #main .sign_in .the_right .account .choice {
    font-size: 14px;
    margin: 20px 0;
  }
  #main .sign_in .the_right .account .social {
    margin-top: 20px;
  }
  #main .sign_in .the_right .account .social .soc {
    font-size: 18px;
    font-weight: bold;
  }
  #main .sign_in .the_right .account .social .icon {
    margin-top: 0px;
    padding: 15px 0;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #d9d9d9;
  }
  #main .sign_in .the_right .account .social .icon .icon_z {
    font-size: 14px;
    line-height: 26px;
    padding-left: 35px;
  }
  #main .sign_in .the_right .account .social .icon .icon_z span {
    background: url(../images/sign_in/qq_m.png);
    width: 26px;
    height: 26px;
  }
  #main .sign_in .the_right .account .social .icon .icon_z span.span_l {
    background: url(../images/sign_in/weixin_m.png);
    width: 26px;
    height: 26px;
  }
  #main .sign_in .the_right .title_w {
    margin-top: 20px;
    text-align: left;
  }
  #main .sign_in .the_right p {
    text-align: left;
    margin-top: 15px;
  }
  #main .sign_in .the_right a.register {
    display: block;
  }
  .popupv {
    position: fixed;
    top: 10%;
    left: 0;
    z-index: 99999;
    width: 94%;
    height: auto;
    overflow-y: scroll;
    overflow-x: auto;
    margin: 0 3%;
  }
  .popupv .content {
    margin: 50px 20px;
  }
  .popupv .content .top {
    text-align: center;
    font-size: 24px;
  }
  .popupv .content .input_all .img {
    width: 20%;
  }
  .popupv .account{
    width: 90%;
    padding:50px 5%;
  }
  .popupv .account_c{
    width: 90%;
    padding:30px 5%;
  }
  .popupv .account .input_z{
    width: 99.5%;
  }
}
@media screen and (max-width: 500px){
  .account_c a.yes{
    width: 45%;
    height: 30px;
    line-height:30px;
  }
  .account_c a.no{
    width: 45%;
    height: 30px;
    line-height:30px;
  }
  .account .img{
    width: 100px !important;
  }
  .account_c .page_title_c h1{
    font-size: 18px;
  }
  #refresh{
    margin-left: 10% !important;
  }
  .account .codeStyle{
    width: 100px !important;
  }
  .account .img-identifycode{
    width: 45% !important;
  }

}
@media screen and (max-width: 320px){
  #refresh{
    margin-left: 2% !important;
  }
}