.mCSB_scrollTools .mCSB_draggerRail {
  background: #ededed;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #c5c5c5!important;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: 7px;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 7px;
}
#main {
  background: transparent;
}
.prompt{
    font-size: 14px!important;
    color: #cc0033;
    margin-top: 10px;
    height: 18px;
    line-height: 18px;
    width: 100%;
}
.popup_w dd{
  overflow: hidden;
}
.popup_w dd.special{
  overflow: visible;
}
.popup_w dd.special .select{
  overflow: visible;
}
.popup_w dd.special .select .type-down{
  top: 38px;
  width: 518px;
}
.prompt span{
   width: 18px;
   height: 18px;
}
.prompt span {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin-right: 5px;
}
#main .dialogue {
  width: 1178px;
  height: 500px;
  border: 1px solid #d5d5d5;
  overflow: hidden;
}
#main .dialogue .di {
  float: left;
  height: 100%;
}
#main .dialogue .di.di_left {
  width: 228px;
  background: #f5f6f7;
}
#main .dialogue .di.di_left .top_w {
  height: 49px;
  line-height: 49px;
  background: #d2d5d7;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #383434;
  border-right: 1px solid #d5d5d5;
}
#main .dialogue .di.di_left .mCustomScrollbar {
  height: 410px;
  overflow: hidden;
}
#main .dialogue .di.di_left .mCustomScrollbar ul {
  border-right: 1px solid #d5d5d5;
  min-height: 410px;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.active {
  background: #ffffff;
  width: 101%;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.active .name .name_z {
  color: #c03;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.active .sanjiao {
  display: block;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.active a.close {
  display: block;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.active:hover {
  background: #ffffff;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li:hover {
  background: #dedede;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.gray .portrait {
  position: relative;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.gray .portrait img.touming {
  position: absolute;
  left: 0;
  top: 0;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li.gray .name .name_z {
  color: #919191;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li {
  height: 64px;
  line-height: 64px;
  cursor: pointer;
  position: relative;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .close {
  display: none;
  background: url(../images/dialogue/close.png);
  width: 8px;
  height: 8px;
  position: absolute;
  left: 7px;
  top: 27px;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .portrait {
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  float: left;
  margin-left: 26px;
  margin-top: 12px;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .portrait img {
  width: 100%;
  height: 100%;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .name {
  float: left;
  font-size: 14px;
  color: #000;
  margin-left: 10px;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .name .name_z {
  float: left;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 56px;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .name a {
  min-width: 15px;
  height: 15px;
  background: #c03;
  line-height: 15px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  display: block;
  float: left;
  margin-top: 17px;
  margin-left: 2px;
  border-radius: 50%;
}
#main .dialogue .di.di_left .mCustomScrollbar ul li .sanjiao {
  float: right;
  width: 8px;
  height: 11px;
  margin-top: 27px;
  margin-right: 30px;
  display: none;
}
#main .dialogue .di.di_left .bottom_w {
  height: 41px;
  text-align: center;
  line-height: 41px;
  background: #e8e9eb;
  font-size: 14px;
  color: #383434;
  border-right: 1px solid #d5d5d5;
  display: block;
}
#main .dialogue .di.di_left .bottom_w .icon-more {
  display: inline-table;
  width: 13px;
  height: 9px;
  background: url(../images/dialogue/icon-sm.png);
  vertical-align: middle;
  position: static;
  margin-left: 5px;
  margin-top: -1px;
}
#main .dialogue .di.di_left .bottom_w:hover {
  color: #c03;
}
#main .dialogue .di.di_center {
  width: 630px;
}
#main .dialogue .di.di_center .top_w {
  height: 49px;
  line-height: 49px;
  background: #000;
}
#main .dialogue .di.di_center .top_w .left {
  float: left;
  font-size: 14px;
  text-indent: 30px;
  color: #fff;
  width: 35%;
  
  overflow: hidden;
  
}
#main .dialogue .di.di_center .top_w .left .zhen{
  max-width: 67%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#main .dialogue .di.di_center .top_w .left .last{
  width: 72px;
  float: left;
  text-indent: 0;
  overflow: hidden;
}
#main .dialogue .di.di_center .top_w .right {
  float: right;
  color: #fff;
  font-size: 12px;
  width: 60%;
  text-align: right;
  padding-right: 30px;
  text-decoration: underline;
  opacity: 0.7;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#main .dialogue .di.di_center .top_w .right a {
  color: #fff;
}
#main .dialogue .di.di_center .input_box {
  height: 122px;
  border-top: 1px solid #d5d5d5;
  padding: 0 20px;
  position: relative;
}
#main .dialogue .di.di_center .input_box .t_top {
  padding: 10px 0;
}
#main .dialogue .di.di_center .input_box .t_top .the_left {
  float: left;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn {
  display: block;
  float: left;
  width: 17px;
  height: 17px;
  background: url(../images/dialogue/expression.png) no-repeat;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_1:hover {
  background: url(../images/dialogue/expression_red.png) no-repeat;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_2 {
  width: 16px;
  height: 14px;
  background: url(../images/dialogue/icon_2.png) no-repeat;
  margin-top: 2px;
  overflow: hidden;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_2 #btn-upload {
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
  position: absolute;
  top: -3px;
  right: 0;
  width: 84px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_2:hover {
  background: url(../images/dialogue/icon_2_red.png) no-repeat;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3:hover {
  background: url(../images/dialogue/icon_3_red.png) no-repeat;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3.active .stroke {
  display: block;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 {
  width: 18px;
  height: 13px;
  background: url(../images/dialogue/icon_3.png) no-repeat;
  margin-top: 3px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .iconP {
  width: 18px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke {
  position: absolute;
  background: url(../images/dialogue/stroke.png) no-repeat;
  width: 557px;
  height: 368px;
  top: -372px;
  left: -123px;
  display: none;
  cursor: default;
  z-index: 100;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w {
  margin: 20px;
  height: 306px;
  overflow: hidden;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .language_w {
  height: 40px;
  background: #c03;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .language_w .lh {
  float: left;
  font-weight: bold;
  padding-left: 20px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .language_w .rh {
  float: right;
  padding-right: 20px;
  cursor: pointer;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .language_w .rh span {
  display: inline-table;
  width: 19px;
  height: 19px;
  background: url(../images/dialogue/rh_span.png);
  vertical-align: middle;
  position: static;
  margin-right: 5px;
  margin-top: -1px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 {
  width: 515px;
  height: 88px;
  border: 1px solid #d5d5d5;
  margin-top: 10px;
  overflow: hidden;
  display: none;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 textarea {
  border: none;
  width: 477px;
  height: 45px;
  outline: none;
  line-height: 18px;
  font-size: 12px;
  margin: 0px 17px;
  margin-top: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v {
  float: right;
  margin-right: 20px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_1 {
  font-size: 12px;
  float: left;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_1 span {
  display: inline-table;
  width: 14px;
  height: 14px;
  background: url(../images/dialogue/preservation.png);
  vertical-align: middle;
  position: static;
  margin-top: -2.5px;
  margin-right: 7px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_1:hover {
  color: #c03;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_1:hover span{
   background: url(../images/dialogue/preservation_red.png); 
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_2:hover span{
   background: url(../images/dialogue/revoke_red.png); 
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_2:hover {
  color: #c03;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_2 {
  font-size: 12px;
  float: left;
  margin-left: 20px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_1 .btn_v .btn_v_2 span {
  display: inline-table;
  width: 14px;
  height: 12px;
  background: url(../images/dialogue/revoke.png);
  vertical-align: middle;
  position: static;
  margin-top: -4px;
  margin-right: 7px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 {
  background: #f5f6f7;
  padding: 20px 18px;
  margin-top: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words {
  overflow: hidden;
  display: block;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .written {
  font-size: 12px;
  line-height: 22px;
  color: #000;
  opacity: 0.8;
  margin-bottom: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn {
  float: right;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r:hover {
  color: #c03;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r:hover span{
   background: url(../images/dialogue/send_out_red.png);
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r {
  display: block;
  float: left;
  font-size: 12px;
  margin-left: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r span {
  display: inline-table;
  width: 14px;
  height: 14px;
  background: url(../images/dialogue/send_out.png);
  vertical-align: middle;
  position: static;
  margin-top: -2.5px;
  margin-right: 7px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r.w_btn_2 span {
  background: url(../images/dialogue/modify.png);
  width: 16px;
  height: 16px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r.w_btn_2:hover span{
  background: url(../images/dialogue/modify_red.png);
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r.w_btn_3 span {
  background: url(../images/dialogue/delete.png);
  width: 15px;
  height: 15px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .words .w_btn .w_btn_r.w_btn_3:hover span{
    background: url(../images/dialogue/delete_red.png);
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box {
  overflow: hidden;
  display: none;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box textarea {
  border: none;
  width: 456px;
  height: 38px;
  outline: none;
  line-height: 18px;
  font-size: 12px;
  color: #000;
  opacity: 0.5;
  border: 1px solid #d5d5d5;
  background: transparent;
  padding: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z {
  float: right;
  margin-top: 10px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_1 {
  font-size: 12px;
  float: left;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_1 span {
  display: inline-table;
  width: 14px;
  height: 14px;
  background: url(../images/dialogue/preservation.png);
  vertical-align: middle;
  position: static;
  margin-top: -2.5px;
  margin-right: 7px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_1:hover span{
  background: url(../images/dialogue/preservation_red.png);
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_1:hover {
  color: #c03;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_2:hover {
  color: #c03;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_2 {
  font-size: 12px;
  float: left;
  margin-left: 20px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_2 span {
  display: inline-table;
  width: 14px;
  height: 12px;
  background: url(../images/dialogue/revoke.png);
  vertical-align: middle;
  position: static;
  margin-top: -4px;
  margin-right: 7px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_3 .stroke .stroke_w .div_w_2 .text_box .btn_z .btn_z_2:hover span{
  background: url(../images/dialogue/revoke_red.png);
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4.active .stroke {
  display: block;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4:hover {
  background: url(../images/dialogue/icon_4_red.png) no-repeat;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4 {
  width: 13px;
  height: 14px;
  background: url(../images/dialogue/icon_4.png) no-repeat;
  margin-top: 2px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4 .stroke {
  position: absolute;
  background: url(../images/dialogue/stroke_2.png) no-repeat;
  width: 308px;
  height: 161px;
  top: -165px;
  left: -103px;
  cursor: default;
  display: none;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4 .stroke .con_v {
  overflow: hidden;
  margin-top: 10px;
  margin-left: 12px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4 .stroke .con_v .con_v_btn {
  display: block;
  float: left;
  width: 112px;
  height: 30px;
  background: #000;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-size: 12px;
  margin-top: 20px;
  margin-left: 20px;
}
#main .dialogue .di.di_center .input_box .t_top .the_left .the_btn.the_btn_4 .stroke .con_v .con_v_btn:hover {
  background: #434c53;
}
#main .dialogue .di.di_center .input_box .t_top .the_right {
  font-size: 12px;
  color: #c03;
  text-decoration: underline;
  float: right;
}
#main .dialogue .di.di_center .input_box .textarea {
  border: none;
  width: 517px;
  height: 80px;
  outline: none;
  line-height: 18px;
  font-size: 14px;
}
#main .dialogue .di.di_center .input_box .send_out {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: block;
  width: 79px;
  height: 32px;
  background: #c03;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}
#main .dialogue .di.di_center .input_box .send_out:hover {
  background: #ae002b;
}
#main .dialogue .di.di_right {
  width: 319px;
  border-left: 1px solid #d5d5d5;
}
#main .dialogue .di.di_right .tabs_all {
  width: 100%;
  height: 50px;
  background: #d2d5d7;
}
#main .dialogue .di.di_right .tabs_all li {
  float: left;
  width: 105px;
  border-right: 1px solid #fff;
  height: 100%;
}
#main .dialogue .di.di_right .tabs_all li a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #000;
  text-align: center;
  line-height: 50px;
  opacity: 0.7;
}
#main .dialogue .di.di_right .tabs_all li.tab3 {
  border-right: none;
}
#main .dialogue .di.di_right .tabs_all li.active {
  background: #fff;
}
#main .dialogue .di.di_right .tabs_all li.active a {
  opacity: 1;
}
#main .dialogue .di.di_right .tab_container_all {
  width: 100%;
  height: 447px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w {
  position: relative;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user {
  margin: 0 20px 17px 20px;
  padding-top: 5px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head {
  overflow: hidden;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_left {
  float: left;
  overflow: hidden;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_left .t_img {
  height: 33px;
  width: 33px;
  overflow: hidden;
  float: left;
  border-radius: 50%;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_left .t_img img {
  height: 100%;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_left .r_w {
  float: left;
  font-size: 16px;
  color: #000;
  height: 33px;
  line-height: 33px;
  margin-left: 3px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_right {
  float: right;
  overflow: hidden;
  margin-top: 7px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_right .h_btn {
  float: left;
  display: block;
  width: 67px;
  height: 20px;
  border-radius: 5px;
  background: #c03;
  color: #fff;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  margin-left: 10px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .head .h_right .h_btn:hover {
  background: #ae002b;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information {
  margin-top: 15px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information .infor_w {
  font-size: 12px;
  margin-bottom: 7px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information .infor_1 {
  overflow: hidden;
  padding-top: 3px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information .infor_1 .in_l {
  float: left;
  font-size: 12px;
  margin-top: 7px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information .infor_1 .textarea {
  float: right;
  border: 1px solid #d5d5d5;
  width: 200px;
  height: 50px;
  outline: none;
  line-height: 18px;
  font-size: 12px;
  padding: 5px;
  margin-top: 3px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information a.infor_2 {
  display: block;
  background: #c03;
  width: 95px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  margin-left: 62px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .user .information a.infor_2:hover {
  background: #ae002b;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form {
  height: 208px;
  border-top: 1px solid #d5d5d5;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tabs_br {
  height: 30px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tabs_br li {
  float: left;
  width: 79px;
  height: 100%;
  border-left: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tabs_br li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  color: #000;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tabs_br li.tab1_br {
  border-left: none;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tabs_br li.active {
  background: #f3f4f5;
  border-bottom: 1px solid #f3f4f5;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br {
  width: 100%;
  height: 180px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br {
  padding: 0 10px 0px 20px;
  overflow: hidden;
  clear: both;
  height: 150px;
  margin-top: 17px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .input.first {
  margin-top: 0;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z .left_e {
  height: 30px;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z .select.active .icon-down {
  background: url(../images/manage/icon.png) -13px -1px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z .select {
  float: right;
  height: 28px;
  border: 1px solid #d5d5d5;
  width: 215px;
  margin-right: 10px;
  text-indent: 5px;
  position: relative;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z .select p {
  height: 28px;
  line-height: 28px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .select_z .select .icon-down {
  display: block;
  width: 12px;
  height: 8px;
  background: url(../images/manage/icon.png) -1px -1px;
  position: absolute;
  top: 11px;
  right: 10px;
  cursor: pointer;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .input {
  overflow: hidden;
  clear: both;
  margin-top: 10px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .input .left_e {
  height: 30px;
  float: left;
  font-size: 12px;
  line-height: 30px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .tab_form .tab_container_br .tab_content_br .input .input_s {
  float: right;
  height: 28px;
  outline: none;
  border: 1px solid #d5d5d5;
  width: 215px;
  text-indent: 5px;
  margin-right: 10px;
  padding: 0;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .models {
  width: 319px;
  height: 40px;
  background: #e8e9eb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .models .left {
  float: left;
  line-height: 40px;
  font-size: 12px;
  width: auto;
  padding-left: 20px;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .models a.right:hover {
  background: #434c53;
}
#main .dialogue .di.di_right .tab_container_all #tab1_w .models a.right {
  display: block;
  float: right;
  height: 100%;
  width: 77px;
  background: #000;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
  color: #fff;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .activity {
  padding: 17px 20px;
  overflow: hidden;
  border-bottom: 1px solid #d5d5d5;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .activity .act_a {
  float: left;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .activity .input {
  float: right;
  overflow: hidden;
  position: relative;
  width: 125px;
  height: 26px;
  border: 1px solid #d5d5d5;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .activity .input .input_s {
  outline: none;
  text-indent: 5px;
  border: none;
  height: 26px;
  width: 95px;
  vertical-align: top;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .activity .input a.search {
  display: block;
  background: url(../images/dialogue/search.png) no-repeat 5px center;
  width: 30px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 0;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list {
  margin: 10px 0;
  padding: 0 10px 0px 20px;
  height: 360px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br.first {
  padding-top: 5px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br {
  padding: 18px 0;
  border-bottom: 1px solid #d5d5d5;
  margin-right: 10px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br h3 {
  font-size: 12px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br p {
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 8px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br h2 {
  font-size: 12px;
  color: #c03;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br a.btn:hover {
  background: #ae002b;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br a.btn {
  display: block;
  width: 95px;
  height: 30px;
  line-height: 30px;
  background: #c03;
  text-align: center;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .title {
  font-size: 12px;
  font-weight: bold;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .p_r {
  opacity: 0.7;
  font-size: 12px;
  margin-top: 2px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .price {
  color: #c03;
  font-weight: bold;
  margin-top: 3px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .price .span1 {
  font-size: 24px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .price .span2 {
  font-size: 12px;
  margin-left: 5px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .price .span3 {
  text-decoration: line-through;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .icon {
  overflow: hidden;
  margin: 7px 0;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .icon .l_icon {
  float: left;
  margin-right: 20px;
  font-size: 12px;
  opacity: 0.7;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .icon .l_icon span {
  display: inline-table;
  background: url(../images/dialogue/right.png);
  width: 13px;
  height: 14px;
  vertical-align: middle;
  position: static;
  margin-right: 10px;
  margin-top: -3px;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .time {
  font-size: 12px;
  font-weight: bold;
  opacity: 0.8;
}
#main .dialogue .di.di_right .tab_container_all .tab_content_all .car_list .car_br .time span {
  font-weight: normal;
  opacity: 0.7;
  margin-left: 20px;
}
.dialog_box {
  height: 328px;
  overflow: hidden;
}
.dialog_box .time:hover {
  color: #000;
}
.dialog_box .time:hover span {
  background: url(../images/online/time_small_black.png);
}
.dialog_box .time {
  font-size: 12px;
  text-align: center;
  color: #aaaaaa;
  padding: 20px 0;
  cursor: pointer;
}
.dialog_box .time span {
  display: inline-table;
  width: 13px;
  height: 13px;
  background: url(../images/online/time_small.png);
  vertical-align: middle;
  position: static;
  margin-right: 5px;
  margin-top: -3px;
}
.dialog_box ul {
  overflow: hidden;
  padding: 0 20px;
  margin-top: -20px;
  padding-bottom: 40px;
}
.dialog_box ul li {
  margin-top: 20px;
  overflow: hidden;
}
.dialog_box ul li .head_small {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  overflow: hidden;
  float: left;
}
.dialog_box ul li .head_small img {
  width: 100%;
  height: 100%;
}

.dialog_box ul li .d_content.d_content_2 {
  background: #ffffff!important;
  border-radius: 6px;
  border: 1px solid #d5d5d5;
  padding: 8px 8px;
}
.dialog_box ul li .d_content.d_content_2 img {
  width: 100%;
  height: 100%;
}
.dialog_box ul li .d_content.d_content_2 .img ,.dialog_box ul li.r_v .d_content .img{
  max-width: 123px;
  max-height: 123px;
  cursor: pointer;
}
.dialog_box ul li .d_content.d_content_2 .img img ,.dialog_box ul li.r_v .d_content .img img{
  max-width: 123px;
  max-height: 123px;
}
.dialog_box ul li .d_content .l_img {
  width: 53px;
  height: 53px;
  float: left;
}
.dialog_box ul li .d_content .l_img img {
  width: 100%;
  height: 100%;
}
.dialog_box ul li .d_content .r_ct {
  float: left;
  margin-left: 10px;
}
.dialog_box ul li .d_content .r_ct h2 {
  font-size: 14px;
  opacity: 0.9;
}
.dialog_box ul li .d_content .r_ct h3 {
  font-size: 14px;
  opacity: 0.8;
}
.dialog_box ul li .d_content .r_ct .jin {
  width: 100%;
  height: 4px;
  background: #e5e5e5;
}
.dialog_box ul li .d_content .r_ct .jin .progress {
  height: 100%;
  width: 50%;
  background: #cecece;
}
.dialog_box ul li .d_content {
  float: left;
  padding: 10px 10px;
  background: #ececec;
  max-width: 322px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  position: relative;
  margin-left: 17px;
  display: block;
   word-break: break-all;
   overflow: hidden;
}
.dialog_box ul li .d_content .icon_s {
  position: absolute;
  left: -8px;
  top: 10px;
  display: block;
  background: url(../images/dialogue/icon_s.png);
  width: 12px;
  height: 20px;
}
.dialog_box ul li .d_content a#open {
  color: #c03;
  margin-left: 5px;
}
.dialog_box ul li .d_content a#open:hover {
  color: #ae002b;
}
.dialog_box ul li .d_content .underline {
  text-decoration: underline;
}
.dialog_box ul li .d_content .icon-sm {
  display: inline-table;
  width: 14px;
  height: 11px;
  background: url(../images/dialogue/icon-sm-white.png);
  vertical-align: middle;
  position: static;
  margin-left: 5px;
  margin-top: -3px;
}
.dialog_box ul li.l_v .d_content.d_content_2 .red{
  color: #cc0033;
}
.dialog_box ul li .d_content.d_content_2 .icon-sm{
  background: url(../images/dialogue/icon-sm-red.png);
}
.dialog_box ul li .d_content a {
  color: #fff;
}
.dialog_box ul li .d_content a:hover {
  color: #fff;
}
.dialog_box ul li .d_content .l_img {
  float: left;
  width: 68px;
  height: 68px;
}
.dialog_box ul li .d_content .l_img img {
  width: 100%;
  height: 100%;
}
.dialog_box ul li .d_content .r_ctn {
  float: left;
  margin-left: 10px;
  max-width: 204px;
}
.dialog_box ul li .d_content .r_ctn h2 {
  font-size: 14px;
  margin-top: -5px;
}
.dialog_box ul li .d_content .r_ctn p {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.dialog_box ul li .d_content .r_ctn h3 {
  font-size: 16px;
  margin-top: 3px;
}
.dialog_box ul li .d_content .r_ctn .div_btn{
  margin-top: 5px;
}
.dialog_box ul li.l_v .d_content.d_content_2 .icon_s {
  background: url(../images/dialogue/icon_s_left_white.png);
}
.dialog_box ul li.l_v .d_content.d_content_2 a{
  color: #000;
}
.dialog_box ul li.r_v .head_small {
  float: right;
}
.dialog_box ul li.r_v .d_content.d_content_2 .icon_s {
  background: url(../images/dialogue/icon_s_right_white.png);
}
.dialog_box ul li.r_v .d_content {
  float: right;
  margin-left: 0;
  margin-right: 17px;
  background: #c03;
  color: #ffffff;
}
.dialog_box ul li.r_v .d_content .icon_s {
  right: -9px;
  left: auto;
  top: 10px;
  background: url(../images/dialogue/icon_s_right_red.png);
}
.dialog_box ul li.prompt {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  color: #a2a2a2;
  height: auto;
  line-height: normal;
}
.dialog_box ul li.prompt_time {
  font-size: 12px;
  text-align: center;
  background: url(../images/dialogue/line.png) no-repeat 0px -7px;
  color: #a2a2a2;
  opacity: 0.8;
}
.grab_a_single_all {
  overflow: hidden;
  position: absolute;
  bottom: 200px;
  left: 0;
  width: 100%;
}
.grab_a_single {
  height: 100px;
  background: #c03;
  width: 100%;
  position: relative;
  z-index: 101;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}
.grab_a_single .a_single {
  max-width: 1180px;
  min-width: 1180px;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.grab_a_single .a_single .left {
  float: left;
  padding-right: 80px;
  border-right: 1px solid #e26783;
}
.grab_a_single .a_single .left .l_div_1 {
  float: left;
  background: url(../images/dialogue/l_div_1.png) no-repeat;
  width: 114px;
  height: 105px;
  margin-top: -4px;
  margin-left: -5px;
  font-size: 24px;
}
.grab_a_single .a_single .left .l_div_1 a {
  display: block;
  color: #c03;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  height: 84px;
}
.grab_a_single .a_single .left .l_city {
  color: #fff;
  float: left;
  text-align: center;
  padding-top: 25px;
  margin-left: 60px;
}
.grab_a_single .a_single .left .l_city .title {
  font-size: 18px;
}
.grab_a_single .a_single .left .l_city h2 {
  font-size: 24px;
  font-weight: bold;
}
.grab_a_single .a_single .right {
  float: left;
  position: relative;
  margin-left: 40px;
}
.grab_a_single .a_single .right .div_l {
  float: left;
  height: 100%;
  line-height: 100px;
  font-size: 14px;
  color: #fff;
}
.grab_a_single .a_single .right .div_l .span_e {
  font-weight: bold;
  font-size: 24px;
  margin-left: 5px;
}
.grab_a_single .a_single .right .div_l .span_n {
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}
.grab_a_single .a_single .right .div_center {
  width: 77px;
  height: 77px;
  background: #fff;
  border-radius: 50%;
  line-height: 77px;
  text-align: center;
  color: #c03;
  font-size: 38px;
  font-weight: bold;
  float: left;
  margin: 0 25px;
  margin-top: 12px;
  display: block;
}
.grab_a_single .a_single .right .div_r {
  font-size: 12px;
  text-decoration: underline;
  color: #fff;
  height: 100%;
  line-height: 100px;
  float: left;
  cursor: pointer;
}
.grab_a_single .a_single .right .div_r:hover{
  color: #f4f4f4;
}
.grab_a_single .a_single a.clase {
  display: block;
  background: url(../images/dialogue/close_big.png);
  position: absolute;
  top: 10px;
  right: 10px;
  width: 14px;
  height: 14px;
  z-index: 108;
}
.grab_a_single_2 .right .promptP {
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  width: 300px;
  padding-top: 27px;
  float: left;
}
.grab_a_single_2 .right .promptP .span_1 {
  font-size: 24px;
  font-weight: bold;
}
.grab_a_single_2 .right .promptP .span_2 {
  font-size: 18px;
  font-weight: bold;
}
.grab_a_single_2 .right .btn_icon {
  float: left;
  overflow: hidden;
  padding-top: 16px;
}
.grab_a_single_2 .right .btn_icon .btn_icon_z {
  float: left;
  width: 66px;
  height: 66px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 66px;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-left: 20px;
}
.grab_a_single_2 .right .btn_icon .btn_icon_z.active {
  background: #fff;
  color: #c03;
}
.grab_a_single_2 .right .btn_icon .btn_icon_z:hover {
  background: #fff;
  color: #c03;
}
.grab_a_single_w .background {
  background: url(../images/dialogue/background.png);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  display: block;
}
.background {
  z-index: 500;
  display: none;
}
.popup_w {
  display: none;
  position: absolute;
  background: #fff;
  padding: 60px 50px;
  z-index: 10000;
  overflow: hidden;
  width: 510px;
  left: 50%;
  margin-left: -300px;
  top: 60px;
}
.popup_w a.close_br {
  position: absolute;
  display: block;
  background: url(../images/dialogue/close_br.png);
  width: 38px;
  height: 38px;
  right: 10px;
  top: 10px;
}
.popup_w a.close_br:hover {
  background: url(../images/dialogue/close_br_h.png);
}
.popup_w .title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.popup_w .select.active .type-all {
  display: block;
}
.popup_w .select.active span.icon-down {
  background: url(../images/manage/icon.png) -13px -1px;
}
.popup_w .select {
  float: left;
  position: relative;
  width: 245px;
  font-size: 14px;
  margin-top: 10px;
  margin-left: 10px;
}
.popup_w .select p:hover {
  color: #c03;
}
.popup_w .select p {
  outline: none;
  width: 243px;
  height: 52px;
  line-height: 52px;
  text-indent: 33px;
  border: 1px solid #bdbdbe;
  background: #fff;
  cursor: pointer;
}
.popup_w .select .asterisk {
  font-size: 14px;
  margin-right: 3px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.popup_w .select span.icon-down {
  display: block;
  width: 12px;
  height: 8px;
  background: url(../images/manage/icon.png) -1px -1px;
  position: absolute;
  top: 25px;
  right: 20px;
  cursor: pointer;
}
.popup_w .select .type-all {
  width: 100%;
  position: absolute;
  top: 54px;
  height: 156px;
  overflow: hidden;
  z-index: 1000;
  display: none;
}
.popup_w .select .type-all .type-down {
  width: 243px;
  background: #fff;
  border: 1px solid #bdbdbe;
  border-top: none;
  z-index: 100;
}
.popup_w .select .type-all .type-down li.first {
  border-top: none;
}
.popup_w .select .type-all .type-down li {
  font-size: 14px;
  text-indent: 33px;
  height: 38px;
  line-height: 38px;
  border-top: 1px solid #bdbdbe;
}
.popup_w .select .type-all .type-down li a {
  display: block;
}
.popup_w .select.select_1 {
  float: none;
  width: 500px;
}
.popup_w .select.select_1 p {
  width: 498px;
}
.popup_w .select.select_1 .type-all .type-down {
  width: 498px;
}
.popup_w .input {
  outline: none;
  width: 243px;
  height: 52px;
  line-height: 52px;
  text-indent: 10px;
  border: 1px solid #bdbdbe;
  background: #fff;
  cursor: pointer;
  float: left;
  margin-left: 10px;
  position: relative;
  margin-top: 10px;
}
.popup_w .input .asterisk {
  font-size: 14px;
  margin-right: 3px;
  position: absolute;
  left: 8px;
  top: 1px;
}
.popup_w .input .input_z {
  height: 52px;
  width: 160px;
  outline: none;
  border: none;
  padding: 0;
  margin-left: 22px;
  font-size: 14px;
}
.popup_w .input span.company {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 60px;
  text-align: center;
  height: 100%;
  opacity: 0.7;
  font-size: 14px;
}
.popup_w .verification {
  margin-top: 10px;
  overflow: hidden;
  float: left;
}
.popup_w .verification .img {
  float: left;
  height: 50px;
  width: 121px;
  border: 1px solid #bdbdbe;
  margin-left: 10px;
  display: block;
}
.popup_w .verification .img img {
  height: 100%;
}
.popup_w .verification .input_z {
  float: left;
  height: 50px;
  width: 121px;
  border: 1px solid #bdbdbe;
  margin-left: 10px;
  text-indent: 10px;
}
.popup_w .verification .button {
  width: 101px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  background: #000;
  color: #fff;
  font-size: 14px;
  display: block;
  font-weight: bold;
  float: left;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
.popup_w .verification .button:hover {
  background: #434c53;
}
.popup_w #submit {
  width: 500px;
  height: 54px;
  background: #c03;
  display: block;
  float: left;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 54px;
  color: #fff;
}
.popup_w #submit:hover {
  background: #ae002b;
}
.popup_n {
  /*width: 902px;*/
  /*height: 501px;*/
  width: 350px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 600;
  display: none;
}
.popup_n img {
  height: 100%;
}
.popup_n a.close_btn {
  position: absolute;
  display: block;
  background: url(../images/dialogue/close_br.png);
  width: 38px;
  height: 38px;
  right: 10px;
  top: 10px;
}
.popup_n a.close_btn:hover {
  background: url(../images/dialogue/close_br_h.png);
}


.dialog_box ul li.prompt a{
  color: #a2a2a2;
}
@media screen and (max-width:850px){
  .popup_w dd.special .select .type-down{
    width: 99%;
  }
}