/*排序条件*/
#main{max-width:1180px;margin:50px auto 0 auto;}
.sort-wrap{max-width:1180px;margin:0 auto 0 auto;position:relative;height:65px;background:#f7f7f7;z-index:30;}
.sort-position.sort-position-cur {
   border-bottom: 1px solid #c4c4c4;
}
.sort-list{height:100%;}
.sort-list li{width:25%;height:100%;float:left;text-align:center;font-size:18px;line-height:65px;position:relative;z-index:10;}
.sort-list li p{height:99%;border-right:1px solid #c4c4c4;cursor:pointer;border-top:1px solid #f7f7f7;}
.act-box .title{
	height: 36px;
	line-height: 36px;
	margin-bottom: 15px;
}
/*.select-more .select .ul.ul-xl{*/
    /*max-height: 100px;*/
/*}*/
#btn-online{width:180px;height:40px;line-height:40px;background:#000;position:fixed;right:0;bottom:0;z-index:450;overflow:hidden;color:#fff;text-align:center;transform-origin:bottom right;font-size:18px;}
#btn-online span.icon-advice{display:inline-table;width:29px;height:23px;background:url(../images/icon.png) no-repeat -6px -1012px;vertical-align:middle;margin-right:10px;}
#btn-online:hover{background:#434c53;}
#btn-online.new-msg{background:#c03;}
#btn-online.new-msg:hover{background:#ae002b;}
.sort-list li p:hover{color:#c03;}
.sort-list.sort-touch li p:hover{color:#000}
.sort-list li span.df{
	margin-right:10px;
	display: inline-block;
	max-width: 73px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
}
.sort-list li span.icon-down{display: inline-table;width:13px;height:9px;background:url(../images/icon-sm.png) no-repeat 0 -640px;vertical-align:middle; position:relative;top:-1px;}
.sort-list li.cur{background:#fff;}
.sort-list li.cur p:hover{color:#383434;}
.sort-list li.cur p{border-top:1px solid #c4c4c4;}
#down-city p{color:#c03}
.icon-gold{background:url(../images/icon-gold.png) 0 -109px no-repeat; display:inline-table;width:12px;height:16px; vertical-align:middle; margin-left:5px;}
.icon-gold2{background:url(../images/icon-gold.png) -13px -109px no-repeat;display:inline-table;width:12px;height:16px;vertical-align:middle; margin-left:5px;}
.icon-gold3{background:url(../images/icon-gold.png) -25px -109px no-repeat;display:inline-table;width:12px;height:16px;vertical-align:middle; margin-left:5px;}
.sort-list li.cur span.icon-down{
	background: url(../images/icon-sm.png) no-repeat 0 -666px;
}
.sort-list li.last.cur p{border-right:1px solid #c4c4c4;}
.sort-list li.fast.cur p{border-left:1px solid #c4c4c4;border-radius:0 0 0 1px;}
.sort-list li.fast p{
	border-left:1px solid #f7f7f7;
}
.sort-list li.last p{border-right:0;}
.select-city .ttl{border-bottom:1px solid #ccc;padding-bottom:10px;margin-bottom:10px;}
.select-city,.select-brand,.select-type,.select-price,.select-more{width:100%;background:#fff;position:absolute;left:0;top:64px;font-size:14px;display:none; }
.select-city .border,.select-brand .border,.select-type .border,.select-price .border,.select-more .border{padding:10px 0;border:1px solid #c4c4c4;min-height:95px;}
.select-city .info,.select-brand .info,.select-type .info,.select-price .info,.select-more .info{width:91.5%;margin:0 auto;overflow:hidden;}
.select-city .city-list{width:100%;height:255px;overflow:hidden;position:relative;}
.select-city .city-list a.cur{color:#c03;}
.select-city .list{width:95%;position:absolute;line-height:28px;}
.select-city .tip{font-size:12px;color:#8d8d8d;border-top:1px solid #e5e5e5;padding:1.8em 0;}
.select-city .list dt{height:28px;color:#c03;}
.select-city .list dd{margin:-28px 0 0 85px;position:relative;padding-bottom:10px;}
.select-city .list dd span{display:inline-table;margin-right:35px;}
.brand-list{padding:30px 0;}
.brand-list li{display:inline-table;margin-right:20px; line-height:2.5em;}
.select-type .type-list{padding:30px 0;position: relative;
	z-index: 0;}
.select-type .type-list li, .select-type .hiddle_carType li{display:inline-table;margin-right:30px; line-height:2.5em;position: relative;padding: 10px}
.select-type .type-list li.cur{
	font-weight: bold;
}
.select-type .type-list li a img{
	position: absolute;
	top: 37px;
	left: 50%;
	width: 40px;
	height: 30px;
	margin-left: -20px;
	display: none;
}
.select-type .type-list li a img.cur{
	display: block;
}
.select-type .hiddle_carType{
	float: left;
	display: none;
	margin-top: -30px;
	min-width: 560px;
}
.select-type .hiddle_carType.cur{
	display: block;
	min-width:560px;
	background: #F2F2F2;
}
/*.select-type .type-list li:hover{*/
	/*font-weight: bold;*/
/*}*/
.price-list{float:left; margin-right:30px;}
.price-list li{display:inline-table;margin-right:20px; line-height:2.5em;}
.select-price .ot{ display:inline-table}
.ul .ot{padding:15px 0 0 10px;}
.sort .ot .text{width:50px;height:33px;border:1px solid #c9c9c9;line-height:33px;text-align:center;font-size:14px;padding:0;vertical-align:middle;}
.sort .ot .btn-confirm{display:inline-table;width:100px;height:35px;line-height:35px;color:#fff;vertical-align:middle;background:#000;text-align:center;margin-left:10px;}
.sort .ot .btn-confirm:hover{background:#434c53;}
.sort .ul .ot .text{background:#ececec;}
.select .ot .text{width:48px;height:28px; line-height:28px;}
.select .ot .btn-confirm{width:80px;height:30px; line-height:30px;}
.select-more .info{padding:30px 0;overflow:visible;}
.select-more .select{width:13.2%;border:1px solid #c9c9c9;height:33px;line-height:33px;font-size:14px;float:left;margin-right:1%;position:relative;background:#fdfdfd;}
.select-more .select p{width:100%;height:100%;overflow:hidden;text-indent:10px;cursor:pointer;}
.select-more .select p:hover{color:#c03;}
#s-color{ margin-right:0;}

.select-more .select span.icon-down{display:inline-table;width:9px;height:6px;background:url(../images/icon-sm.png) no-repeat 0 -654px;position:absolute;top:14px;right:12px;cursor:pointer;}
.select-more .select.cur span.icon-down{
   background: url(../images/icon-sm-z.png);
}
.select-more #s-dis .ul{
	width:209%;
}
.select-more .select .ul{width:318%;border:1px solid #ccc;position:absolute;left:-1px;top:100%;background:#ececec;padding:10px 0;display:none;max-height: 240px;/*overflow: scroll;*/}
.select-more .select.cur{background:#ececec;}
.select-more .select.cur p{border-bottom:1px solid #ececec;position:relative;z-index:2;}
.select-more .select.cur .ul{display:block;}
.select-more .select ul{width:100%;/*overflow-x:hidden;overflow-y: scroll*/;height: 300px}
.select-more .select ul li{width:50%;float:left;text-indent:10px;line-height:25px;padding:3px 0;}
.select-more .select ul li a{display:block;}

.select-more #s-age ul li{width:70px;}
.select-more #s-mileage ul li{width:95px;}

#s-color .ul{left:auto;right:-1px;}
.sort{background:#ececec;/*height:65px;*/}
.sort.cur{/*height:145px;*/}
.sort.cur .sort-select{display:block;}
.sort-position.sort-position-cur{width:100%;position:fixed;left:0;top:0;z-index:400;}
.sort-position .sort-info{background:#ececec;}
.sort-bg{ background:#f7f7f7;}
.sort-select{ max-width:1180px;margin:0 auto;padding:20px 0 0px 0;font-size:14px;display:none;}
.sort-select strong{display:inline-table;}
#selected-list{display:inline;}
#selected-list p{display:inline-table;height:22px;line-height:22px;border:1px solid #c03;margin:0 10px 10px 0;}
#selected-list span{padding:0 10px;display:inline-table;vertical-align:top;}
#selected-list a.btn-delete{display:inline-table;width:22px;height:22px;background:#c03 url(../images/icon.png) -8px -929px;vertical-align:top;}
#selected-list p:hover{border:1px solid #000;}
#selected-list p:hover a.btn-delete{background:#000 url(../images/icon.png) -8px -929px;}
.sort-select .btn-reset{color:#c03;display:inline-table;margin-left:10px;}
.sort-select .btn-reset:hover{color:#ae002b;}
.sortBox{margin: 0 auto;position: relative;margin: 40px 0 30px 0}
.sortBox .sort-title{padding:0 0 10px 0;max-width:1180px;margin:0 auto;position: relative;z-index:10;}
.sortBox .sort-title .leftInfo{width:40%;float:left;font-size:18px;}
.selectBg{width:108px;height:22px;border:#d4d4d4 solid 1px;background:url(../images/list/list_icon.png) 90px 9px no-repeat;overflow:hidden;display: inline-block;}
.selectBg select{width:125px;height:24px;background:transparent;cursor: pointer;outline: none;border: 0px;vertical-align: top;}
.sortBox .sort-title .leftInfo .selectBg{margin:11px 0 0 25px;float:left;}
.sortBox .sort-title .leftInfo .textTitle{float:left;color:#000;line-height:22px;}
.sortBox .sort-title .rightInfo{float:right;font-size:14px;}

.sortBox .select{width:106px;border:1px solid #bebebe;height:22px;line-height:22px;font-size:12px;float:left;margin-right:1%;position:relative;vertical-align:middle;}
#new_select.cur, .sortBox .select.cur{background:#fdfdfd;}
#new_select.cur ul, .sortBox .select.cur ul{ display:block;}
#new_select p, .sortBox .select p{width:100%;height:100%;overflow:hidden;text-indent:10px;cursor:pointer;position:relative;z-index:2;float: right;}
#new_select p:hover. .sortBox .select p:hover{color:#c03;}
#new_select span.icon-down, .sortBox .select span.icon-down{display:inline-table;width:9px;height:6px;background:url(../images/icon-sm.png) no-repeat 0 -654px;position:absolute;top:8px;right:8px;cursor:pointer;}
#new_select.cur span.icon-down, .sortBox .select.cur span.icon-down{
   background: url(../images/icon-sm-z.png);
}
#new_select ul, .sortBox .select ul{width:100%;border:1px solid #ccc;position:absolute;left:-1px;top:100%;background:#fff;padding:8px 0;display:none;overflow:hidden;}
#new_select ul li, .sortBox .select ul li{padding-left:10px;line-height:20px;}
#new_select ul li a, .sortBox .select ul li a{display:block;}
#new_select .p-up, #new_select .p-down, .sortBox .p-up, .sortBox .p-down{display:inline-table;width:8px;height:10px;margin-left:10px;}
#new_select .p-up, .sortBox .p-up{background:url(../images/icon.png) no-repeat -27px -965px;}
#new_select .p-down, .sortBox .p-down{background:url(../images/icon.png) no-repeat -27px -985px;}
 /*搜索列表*/
.list_auction, .list-four{max-width:1180px;margin:0 auto 1em auto;overflow:hidden;}
.list_auction .row, .list-four .row{width:102%;}
.list_auction .item, .list-four .item{width:23.05%;height:380px;float:left;margin-right:1.9%;background:#fff;margin-bottom:2%;font-size:14px;}
.list_auction .item:hover, .list-four .item:hover{background:#f8f8f8;}
.list_auction .item .image, .list-four .item .image{position:relative;}
.list_auction .item .image .m, .list-four .item .image .m{width:94%;padding:7px 3%;background:rgba(0,0,0,.7);position:absolute;left:0;bottom:0;z-index:3;font-size:12px;display:none;}
.list_auction .item .image .m a, .list-four .item .image .m a{color:#fff;margin-right:10px;}
.list_auction .item .image .m a span, .list-four .item .image .m a span{display: inline-table;width:21px;height:21px;background:url(../images/icon.png) 0 -960px;vertical-align:middle;margin-right:5px;}
.list_auction .item .image .m a.icon-collection span, .list-four .item .image .m a.icon-collection span{background:url(../images/icon_br.png) no-repeat;}
.list_auction .item .image .m a.icon-ratio.cur span, .list-four .item .image .m a.icon-ratio.cur span{background: url(../images/icon.png) 0 -979px;}
.list_auction .item .image .m a.icon-collection.cur span, .list-four .item .image .m a.icon-collection.cur span{background:url(../images/icon_br_s.png) no-repeat;}
.list_auction .item:hover h3, .list-four .item:hover h3{color:#c03;}
.list_auction .item .icon-act, .list-four .item .icon-act{display:block;width:35px;height:35px;background:url(../images/icon.png) 0 -120px no-repeat;position:absolute;left:0;top:0;transform-origin:0 0;}
.list_auction .item .info, .list-four .item .info{width:90%;padding:5%;line-height:1.5em; padding-top: 0;position:relative;}
.list_auction .item h3, .list-four .item h3{width:100%;height:18px; display:block;line-height:1.5em;color:#040000;padding:5px 0;font-size:18px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;margin-bottom: 7px;}
.list_auction .item p, .list-four .item p{padding:3px 0;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-size: 12px;}
.list-four .item p.price{font-size:19px;color:#cc0033;margin-top:10px; font-weight:bold;}
.list_auction .item p.price{
	font-size:12px;color:#666666;margin-top:10px; font-weight:normal; margin-bottom: 5px;
}
.list_auction .item a:hover h3, .list-four .item a:hover h3{color:#c03;}
.list_auction .item a:hover p, .list-four .item a:hover p{color:#383434;}
.list_auction .item a:hover p.price, .list-four .item a:hover p.price{color:#c03;}

.list_auction .icon-go, .list-four .icon-go{display:none;}
.icon-go{background:url(../images/icon.png) -8px -212px no-repeat;padding-left:20px;}
.list_auction .item.fast-red, .list-four .item.fast-red{background:#cc0033;color:#fff; position:relative;}
.list_auction .item.fast-red a.cbr_link, .list-four .item.fast-red a.cbr_link{
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
}
.list_auction .item{
	height: 425px;
	position: relative;
}
.list_auction .item.fast-red a, .list-four .item.fast-red a{color:#fff;}
.list_auction .item.fast-red a:hover p, .list-four .item.fast-red a:hover p{color:#fff;}
.list_auction .item.fast-red a:hover .buyLink, .list-four .item.fast-red a:hover .buyLink{background:url(../images/list/list_icon.png) 90px -6px no-repeat #434c53;}
.list_auction .item.fast-red a.active .buyLink, .list-four .item.fast-red a.active .buyLink{background:url(../images/list/list_icon.png) 90px -6px no-repeat #434c53;}
.list_auction .item.fast-red a.visited .buyLink,.list_auction .item.fast-red a.visited:hover .buyLink, .list-four .item.fast-red a.visited .buyLink,.list-four .item.fast-red a.visited:hover .buyLink{background:url(../images/list/list_icon.png)90px -6px no-repeat #000;}
.list_auction .item.fast-red h5, .list-four .item.fast-red h5{padding:32px 0 0 22px;font-size:28px;}
.list_auction .item.fast-red h5 span, .list-four .item.fast-red h5 span{font-size:18px;display:block;padding:16px 0 6px 0;font-weight:normal;}
.list_auction .item.fast-red p, .list-four .item.fast-red p{line-height:20px;padding-left:22px;font-size:13px;}
.list_auction .item.fast-red .buyLink, .list-four .item.fast-red .buyLink{width:121px;height:36px;line-height:36px;background:url(../images/list/list_icon.png)90px -6px no-repeat #000;text-indent:15px;
margin:18px 0 0 22px;font-size:16px;z-index: 29;
	position: relative;display: block;}
.list_auction .item.fast-red .buyLink a, .list-four .item.fast-red .buyLink a{font-size:16px;color:#fff;}
.list_auction .item.fast-red .buyLink a:hover, .list-four .item.fast-red .buyLink a:hover{color:#c03;}
.list_auction .item.fast-red .carImg, .list-four .item.fast-red .carImg{text-align:center;width:100%; text-align:center;position:absolute;left:0;bottom:20px;}
.list_auction .b-url, .list-four .b-url{ position:absolute;left:0;top:0;right:0;bottom:0;position:relative;}
.list_auction .s-url, .list-four .s-url{max-width:90%;display:block;position:relative; z-index:5;text-overflow:ellipsis;overflow:hidden;white-space:nowrap; float:left;}


.moreCars{width:387px;height:56px;text-align:center;margin:20px auto;line-height:56px;background:#c03;}
.moreCars:hover{background:#ae002b;}
.moreCars a{font-size:20px;color:#fff;padding-right:10px;display:block;}
.moreCars span.righ-arrow{display:inline-table;width:18px;height:15px;background:url(../images/icon.png) -11px -1052px no-repeat;margin:-2px 0 0 10px;vertical-align:middle;}

/*翻页*/
.pageBox{max-width:1180px;height:30px;text-align:center;margin:40px auto 50px auto;font-size:14px;}
.pageBox a{width:27px;height:27px;text-align:center;line-height:27px;border:#595757 1px solid;color:#595757;display:inline-block;margin-right:8px;}
.pageBox a:hover{background:#cc0033;color:#fff;border:#cc0033 solid 1px}
.pageBox a.curr{background:#cc0033;color:#fff;border:#cc0033 solid 1px}
.pageBox a.btn-prev{background:url(../images/list/list_icon.png) no-repeat -55px -116px;}
.pageBox a.btn-prev:hover{border:#c03 1px solid;background:#c03 url(../images/list/list_icon.png) no-repeat -55px -156px;}
.pageBox a.btn-next{background:url(../images/list/list_icon.png) no-repeat -55px -26px;margin-right:30px;}
.pageBox a.btn-next:hover{border:#c03 1px solid;background:#c03 url(../images/list/list_icon.png) no-repeat -55px -66px;}
.pageBox .inputBg{width:40px;height:25px;text-align:center;line-height:25px;border:#595757 1px solid;color:#595757;margin:0 14px;background:transparent;vertical-align:bottom}
.pageBox .go i{font-style:normal;}


.fix-right a{width:38px;height:38px; }
.fix-right .fix-right-searchcar{
	/*float: left;*/
	width: 38px;
	height: 130px;
	background-color: #CC0036;
	text-align: center;
	position: relative;
}
.fix-right .fix-right-searchcar>div:nth-child(1){
	width: 35px;
	height: 48px;
	margin: 0 auto;
	vertical-align: middle;
	padding-top: 33px;
}
.fix-right .fix-right-searchcar>div:nth-child(2){
	width: 20px;
	height: 20px;
	margin: 0 auto;
	position: absolute;
	top: 0;
	right: 0;
}
.fix-right .fix-right-searchcar>p{
	font-size: 14px;color: #FFFFFF;font-weight: 500;
}

.fix-right a.first-icon{height:70px;display:block;color:#fff;background:url(../images/list/list_icon.png) 10px -36px no-repeat;text-align:center;line-height:102px;position:relative;}
.fix-right a.first-icon .redDot{position:absolute;top:8px;left:5px;background:url(../images/list/list_icon.png) -58px 0px no-repeat;width:17px;height:16px;text-align:center;line-height:16px;display:none;}
.fix-right a.second-icon{width:38px;height:70px;display:block;color:#fff;background:url(../images/list/list_icon.png) 8px -96px no-repeat #000;text-align:center;line-height:102px;}
.list_auction .item.fast-red .carImg img, .list-four .item.fast-red .carImg img{
	width: 85%;
}
.list_auction .item.fast-red .carImg-first, .list-four .item.fast-red .carImg-first{
    width: 85%;
    right: 0;
    left: auto;
}
.list_auction .item.fast-red .carImg-first img, .list-four .item.fast-red .carImg-first img{
   width: 100%;
}
.no_activity{
	height: 353px;
	width: 100%;
	background: #fff;
	margin-bottom: 30px;
}
.no_activity .act_img{
  width: 47px;
  height: 52px;
  margin: 0 auto;
  padding-top: 125px;
}
.no_activity p{
	font-size: 14px;
	text-align: center;
	margin-top: 20px;
}
#rightInfo{
	display: none;
}
/**************************************************************************/
#main .active_type{
	border-bottom: #a5a5a5 1px solid;
	padding: 0;
	max-width: 1180px;
	margin: 0 auto;
	position: relative;
	z-index: 10;
	margin-bottom: 8px;
}
#main .active_type a{
	cursor: pointer;
	display: inline-block;
	width: 215px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	background: #F7F7F7;
	color: #333333;
	font-size: 18px;
	margin-right: 8px;
}
#main .active_type a.cur{
	background: #333333;
	color: #F2F2F2;
}
.list_auction .item .image{
	position: relative;
}
.list_auction .item .image .type_state{
	padding: 7px 20px;
	position: absolute;
	bottom: 10px;
	right: 0px;
	background: url(../images/auction/pc-gray.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: right;
	font-size: 12px;
	color: white;
	padding-right: 8px;
}
.list_auction .item .image .type_state.red{
	background: url(../images/auction/pc-red.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;

}


.valuation{
	font-size: 15px;
	color: #666666;
}
.info_bottom{
	color: #666666;
	border-top: 1px solid #dddddd;
	padding: 10px;
	position: absolute;
	bottom: 0;
	width: 80%;
}
.info_bottom span{
	color: #000;
	font-weight: bold;
}
.info_bottom .info_bottom_L{
	float: left;
	width: 50%;
}
.info_bottom .info_bottom_R{
	float: right;
	width: 49%;
	text-align: center;
	border-left: 1px solid #dddddd;
}
.clear{
	clear: both;
}
.priceSpan {
	margin: 0 5px;
	font-size: 20px;
	font-weight: bold;
	color: #cc0033;
}
.auction_time{
	color: #666666;
	margin-bottom: 15px;
}
.sort-list .finally_last{
	display: none;
}
#new_select{
	display: none;
}
#main .active_type a img{
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 26px;
	height: 13px;
	margin-left: -13px;
	display: none;
}
#main .active_type a img.curr{
	display: none;
}

/*.type_state1{*/
	/*display: none;*/
	/*padding: 3px 10px;*/
	/*background-size:100% 100% ;*/
	/*background-repeat:no-repeat;*/
	/*background: url("../images/auction/red_bg.png");*/
	/*text-align: center;*/
	/*font-size: 12px;*/
	/*color: white;*/
/*}*/
/*****************************************************/
@media screen and (max-width:1280px) {
	#main{width:94%;}
	.list_auction .row, .list-four .row{width:105%;}
	.list_auction .item, .list-four .item{width:22.3%;margin-right:1.88%;}
	.sort-position.sort-position-cur .sort-wrap,.sort-position.sort-position-cur .sort-select{width:94%;}
	.select-more .select{width:18.95%;margin-bottom:10px;}
	.select-more .select .ul{width:206%;}
	#s-dissd{ margin-right:0;}
	#s-color .ul{left:-1px;right:auto;}
	#s-dissd .ul{left:auto;right:-1px;}
}

@media screen and (max-width:1180px) {
	.list_auction .item, .list-four .item{width:30.45%;height:420px;font-size:12px;}
	.select-more .select{width:23.9%;margin-bottom:10px;}
	.select-more .select .ul{width:205%;}
	#s-gearbox{ margin-right:0;}
	#s-dissd{ margin-right:1%;}
	#s-dissd .ul{left:-1px;right:auto;}
	#s-gearbox .ul{left:auto;right:-1px;}
}

@media screen and (max-width:1110px) {
	.list_auction .item, .list-four .item{height:405px;}
}

@media screen and (max-width:1050px) {
	.list_auction .item .image {
		position: relative;
	}
	.list-four .item{height:390px;}
	.list_auction .item{height: 435px}
	.price-list li{padding-left:0;}
	.select-type .type-list li, .select-type .hiddle_carType li{
		margin-right: 29px;
	}
}

@media screen and (max-width:950px) {
	.list_auction .item, .list-four .item{height:370px;}

}

@media screen and (max-width:900px) {
	.info_bottom{
		display: block;
		color: #666666;
		border-top: 1px solid #BCBCBC;
		padding: 10px;
	}
	.list_auction .item, .list-four .item{height:350px;}

}
@media screen and (max-width:850px) {
	/*.type_state1{*/
		/*display: inline-block;*/
		/*padding: 2px 17px;*/
		/*background-size:100% 100% ;*/
		/*text-align: center;*/
		/*font-size: 12px;*/
		/*color: white;*/

	/*}*/
	.info_bottom{
		display: none;
	}

	.list_auction .item .image .type_state {
		background: url(../images/auction/mpc_gray@2x.png);
		font-size: 12px;
		padding: 3px 10px;
		padding-right: 3px;
		background-size: 100% 100%;
		background-repeat: no-repeat;
	}
	.select-type .type-list li, .select-type .hiddle_carType li{
		margin-right: 11px;
	}
	#main{
		background: #ececec;
	}
	.no_activity{
		height: 260px;
		margin-bottom: 20px;
	}
	.no_activity .act_img{
		padding-top: 77px;
	}
	.list_auction .item.fast-red h5, .list-four .item.fast-red h5{
		padding: 20px 0 0 22px;
	}
	#btn-online.new-msg{
		display: none;
	}
	.list_auction .row, .list-four .row{width:100%;}
	.moreCars{width:90%;}
	.pageBox{width:92%;}
	.pageBox .inputBg{margin:0 7px 0 5px;}
	.sortBox .sort-title .leftInfo{width:65%;font-size:14px;}
	.sortBox .sort-title .leftInfo .selectBg{margin-left:7px;}
	.list_auction .item, .list-four .item{width:100%;margin-right:0;height:auto;margin-left:0;margin-bottom:5%;overflow:hidden;position:relative;}
	.list_auction .item .image, .list-four .item .image{width:41%;float:left;position:relative;}
	.list_auction .item .info, .list-four .item .info{width:57%;height:100%;float:right;margin-top:2%;padding:0;}
	.list_auction .item .image p.m, .list-four .item .image p.m{width:59%;position:absolute;left:41%;top:0;bottom:0;text-align:center; overflow:hidden;padding:0; z-index:6;}
	.list_auction .item .image p.m a, .list-four .item .image p.m a{margin:0 10px;z-index:3; margin-top:24%; display:inline-table;}
	.list_auction .item .image p.m .close, .list-four .item .image p.m .close{display:inline-table;width:29px;height:29px;background:#000 url(../images/icon.png) -6px -407px;position:absolute;right:10px;top:10px;z-index:2;}
	.list_auction .item .image p.m .close:hover, .list-four .item .image p.m .close:hover{opacity:.8;}
	.list_auction .item .image p.m .mask, .list-four .item .image p.m .mask{width:100%;height:100%;position:absolute;left:0;top:0;display: none;}
	.list_auction .item .db-more, .list-four .item .db-more{display:inline-table;width:60px;height:50px;background:url(../images/dot.png) no-repeat 10px 20px;position:absolute;right:0px;bottom:0px; z-index:5;}
	.list_auction .item.fast-red .carImg, .list-four .item.fast-red .carImg{ position:static; padding-bottom:15px;}
	.list_auction .item.fast-red .carImg img, .list-four .item.fast-red .carImg img{
		width: 80%;
	}
	.list_auction .item.fast-red .carImg-first, .list-four .item.fast-red .carImg-first{
		float: right;
	}
	.list_auction .item.fast-red .carImg-first img, .list-four .item.fast-red .carImg-first img{
		width: 100%;
	}
	.price-list{float:none;margin-bottom:10px;}
	.select-price .ot{float:none;}
	.price-list li{padding-left:0;}
	.select-type .type-list{text-align:left;}
	.select-more .select{width:100%;margin-bottom:5px;}
	.select-more .select .ul{width:100%;}
}
@media screen and (max-width:380px){
	.select-type .type-list li, .select-type .hiddle_carType li{
		margin-right: 0px;
	}
}
@media screen and (max-width:360px){
	.select-type .type-list li{
		margin-right: 0px;
	}
}
@media screen and (max-width:320px){
	.select-type .type-list li{
		padding: 4px;
	}
}
@media screen and (max-width:500px) {
	#sort_list_wra{
		overflow: scroll;
		width: 100%;
	}
	#new_select{
		display: block;
	}
	.sort-list {
		width: 100%;
	}
	.sort-list li.last p {
		border-right: 1px solid #c4c4c4;
	}
	.sortBox {
		display: none;
	}
	#rightInfo{
		display: block;
		position: absolute;
		top: 11px;
		right: 5px;
		color: #8f8f8f;
	}
	.list_auction .item .valuation{
		display: none;
	}
	.type_state1{
		padding: 0 17px;
	}
	.priceSpan {
		margin: 0 4px;
		font-size: 15px;
		font-weight: bold;
	}

	#main {
		width: 100%;
		margin: 0 auto;
	}
	.info_bottom{
		display: none;
	}
	#main .active_type a{
		color: #8f8f8f;
		width: 20%;
		font-size: 12px;
		line-height: 40px;
		height: 40px;
		background: #333333;
		position: relative;
	}
	#main .active_type a img.curr{
		display: block;
	}


	#main .active_type{
		background: #333333;
		margin-bottom: 0;
	}

	.select-type .hiddle_carType{
		position: relative;
		z-index: 18;
	}
	 .select-type .hiddle_carType li{
		margin-right: 7px;
	}
	.select-type .type-list li{
		margin-right: 0;
	}
	/*.select-type .type-list li a img.cur{*/
		/*display: none;*/
	/*}*/
	.select-city,.select-brand,.select-type,.select-price,.select-more{
		top: 100%;
	}
	.sort-list li.cur{
		border-bottom: 1px solid #fff;
	}
	.sort{/*height:34px;*/margin-bottom: 10px}
	.sort.cur{/*height:100px;*/}
	.sort-select{font-size:12px;}
	#selected-list span{padding:0 5px;}
	.sort-wrap{height:34px;}
	.sort-list .finally_last{
		display: block;
	}
	.sort-list .finally_last.cur{

	}
	.sort-list li{line-height:34px;font-size:12px;width: 25%;}
	.sort-list li span.icon-down{background: url(../images/icon-sm.png) no-repeat 0 -654px;
    width: 9px;
    height: 6px;
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-left: 4px;}
	.sort-list li.cur span.icon-down{ 
}
	.select-city .list dd {margin: -28px 0 0 40px;}
	.select-city,.select-brand,.select-type,.select-price{font-size:12px;}
	.select-type .type-list,.select-brand .brand-list,.select-price .info,.select-more .info{padding:15px 0;}
	.select-type .type-list{
		padding-top: 3px;
	}
	.select-type .border{
		padding-top: 0px;
	}
	.select-more .select{font-size:12px;}
	.select-more .select p{text-indent:5px;}
	.select-more .select span.icon-down{right:5px;transform:scale(.6);-webkit-transform:scale(.6);}
	.select-more .select .ul li{text-indent:5px;}
	.select-more .select .ot{padding-left:5px;}
	.select-type .type-list li{padding-left:0;}
	.sort-list li span.df{margin:0;max-width: 48px;}
	.list_auction .item .info, .list-four .item .info{width:57%;margin-top:1%;}
	.list_auction .item h3, .list-four .item h3{font-size:15px; padding:0 0 2px 0;}
	.list_auction .item p, .list-four .item p{padding:1px 0;font-size:11px;
		/*width:100%;*/
		text-overflow: ellipsis;
    overflow: hidden;white-space: nowrap;}
	.list_auction .item p.price, .list-four .item p.price{font-size:12px;margin:0;}
	.moreCars{height:40px;width:100%;line-height:40px;}
	.moreCars a{font-size:14px;}
	.pageBox{width:100%;font-size:12px;}
	.pageBox a{width:25px;height:25px;line-height:25px;margin:auto;vertical-align:middle;}
	.pageBox a.btn-prev {background: url(../images/list/list_icon.png) no-repeat -56px -117px;background-size:300% auto;margin-right:auto;}
	.pageBox a.btn-prev:hover{background:#c03 url(../images/list/list_icon.png) no-repeat -56px -157px;background-size:300% auto;}
	.pageBox a.btn-next {background: url(../images/list/list_icon.png) no-repeat -56px -27px;background-size:300% auto;margin-right:auto;}
	.pageBox a.btn-next:hover{background:#c03 url(../images/list/list_icon.png) no-repeat -56px -66px;background-size:300% auto;}
	.pageBox .inputBg{width:28px;height:25px;line-height: 25px;margin: 0 3px;}
	.fix-right #go-top{transform:scale(1);}
	.list_auction .item .icon-act, .list-four .item .icon-act{transform:scale(.5);-webkit-transform:scale(.5);}
	.sortBox .sort-title .leftInfo{font-size:12px;}
	.sortBox .sort-title .rightInfo{font-size:12px;}
	.list_auction .item .image p.m .close, .list-four .item .image p.m .close{transform:scale(.8);transform-origin:top right;-webkit-transform:scale(.8);-webkit-transform-origin:top right;}
	.fix-right{transform:scale(.7);transform-origin:right bottom;-webkit-transform:scale(.7);-webkit-transform-origin:right bottom;}
	.list_auction .item .db-more, .list-four .item .db-more{transform:scale(.7);transform-origin:right bottom;-webkit-transform:scale(.7);-webkit-transform-origin:right bottom;}
	.pageBox .go i{display:inline-table;transform:scale(.7);-webkit-transform:scale(.7);margin:auto;}
    .mask-iput-leve1{ line-height: 15px !important; }
}
