.box-search {
  width: 643px;
  height: 41px;
}
.dealer_list .empty{
  margin: 67px 0 70px 0;
}
.dealer_list .empty .img{
   width: 44px;
   height: 52px;
   margin: 0 auto;
}
.dealer_list .empty h2{
  font-size: 14px;
  text-align: center;
  color: #000;
  margin-top: 15px;
  margin-bottom: 5px;
}
.dealer_list .empty p{
  color: #4c4c4c;
  text-align: center;
}
.box-search .search-inset {
  width: 477px;
  height: 40px;
  border: 1px solid #c3c0c0;
  float: left;
  position: relative;
  line-height: 39px;
}
.box-search .search-inset .select.active ul {
  display: block;
}
.box-search .search-inset .select.active .icon-down {
  background: url(../images/manage/icon.png) -13px -1px;
}
.box-search .search-inset .select {
  width: 80px;
  float: left;
  position: relative;
}
.box-search .search-inset .select p {
  width: 55px;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  color: #040000;
  padding: 0 0 0 10px;
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.box-search .search-inset .select .icon-down {
  display: block;
  width: 12px;
  height: 18px;
  background: url(../images/manage/icon.png) -1px -1px;
  position: absolute;
  top: 15px;
  right: 14px;
}
.box-search .search-inset .select ul {
  left: -1px;
  top: 102%;
  padding: .3em 0;
  border: 1px solid #c3c0c0;
  width: 100%;
  position: absolute;
  background: #ececec;
  display: none;
  z-index: 12;
}
.box-search .search-inset .select ul li {
  padding-left: 10px;
}
.box-search .search-inset .select ul li a {
  color: #666;
  display: block;
}
.box-search .search-inset .input {
  height: 28px;
  border-left: 1px solid #d4d4d4;
  padding-left: 10px;
  position: absolute;
  top: 6px;
  left: 80px;
  right: 5px;
}
.box-search .search-inset .input input {
  width: 90%;
  height: 28px;
  line-height: 28px;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
  background: none;
  vertical-align: top;
}
.box-search .search-inset .input .btn-delete {
  display: none;
  width: 20px;
  height: 20px;
  overflow: hidden;
  text-indent: -999px;
  background: url(../images/icon.png) no-repeat -10px -370px;
  position: absolute;
  top: 4px;
  right: 10px;
}
.box-search a.btn-search {
  display: block;
  width: 154px;
  height: 41px;
  line-height: 41px;
  float: right;
  background: #000;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.box-search a.btn-search .icon-search {
  background: url(../images/icon.png) no-repeat -10px -87px;
  margin-right: 5px;
  padding: 2px 0 2px 20px;
}
.box-search a.btn-search:hover {
  background: #434c53;
}
.dealer_list .list_w {
  margin-top: -2%;
}
.shop {
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 1px;
}
.shop .btn_w {
  width: 147px;
  height: 40px;
  background: #000;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  color: #fff;
  float: left;
}
a.btn_link:hover {
  background: #ae002b;
}
a.btn_link {
  display: block;
  width: 311px;
  height: 50px;
  background: #cc0033;
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  line-height: 50px;
  color: #fff;
  margin-top: 50px;
  margin-bottom: 100px;
}
a.btn_link .icon-view {
  background: url(../images/icon-sm.png) 0 -200px no-repeat;
  width: 18px;
  height: 15px;
  display: inline-table;
  vertical-align: middle;
  margin-left: 5px;
}
@media screen and (max-width: 850px) {
  .box-search {
    width: 100%;
  }
  .box-search .search-inset {
    width: 70%;
  }
  .box-search a.btn-search {
    width: 28%;
  }
  a.btn_link{
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 500px) {
  a.btn_link {
    height: 40px;
    line-height: 40px;
    width: 100%;
  }
}
