.shop {
  margin-bottom: 30px;
}
.shop .btn_w_1 a {
  display: block;
  color: #fff;
}
.shop .btn_w_2 {
  background: #d4d4d4;
}
.shop .btn_w_2 a {
  display: block;
  color: #000;
}
.moreCars {
  width: 270px;
  height: 50px;
  line-height: 50px;
  margin-bottom: 100px;
}
.moreCars a {
  padding-right: 0;
  font-weight: bold;
}
@media screen and (max-width: 850px) {
.list-four .item.fast-red{
  margin-bottom: 0;
}
.act-box .item.last{
  margin-bottom: 0;
}
}
@media screen and (max-width: 500px) {
  .moreCars {
    height: 40px;
    line-height: 40px;
    width: 100%;
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .moreCars a{
    font-size: 20px;
  }
}
