#btn-online {
    width: 180px;
    height: 40px;
    line-height: 40px;
    background: #c03 !important;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 450;
    overflow: hidden;
    color: #fff;
    text-align: center;
    transform-origin: bottom right;
    font-size: 18px;
}

#btn-online.new-msg {
    background: #c03;
}

#btn-online span.icon-advice {
    display: inline-table;
    width: 29px;
    height: 23px;
    background: url(../images/icon.png) no-repeat -6px -1012px;
    vertical-align: middle;
    margin-right: 10px;
}

.account .social.social_2{
  margin-bottom: 25px;
}
.account .social {
  margin: 30px 0;
  margin-bottom: 0px;
}

