.m-content {
  background-color: #f0f0f0;
  padding-bottom: 28px;
  margin-top: 13px;
}
.m-content .m-main {
  background-color: #ffffff;
  padding: 35px 35px 24px 35px;
  width: 1132px;
}
.m-content .m-main.m-distributor-detail {
  padding: 35px 35px 0 35px;
  width: 1132px;
}
.m-content .m-main.m-distributor-detail .sub-carinfo .m-left .dealer-detail .u-company {
  margin-top: -5px;
}
.m-content .m-main.m-distributor-detail .sub-carinfo .m-left .dealer-detail .u-company .atar_Show {
  margin-top: 16px;
}
.m-content .m-main.m-distributor-detail .sub-carinfo .m-left .dealer-detail .u-place,
.m-content .m-main.m-distributor-detail .sub-carinfo .m-left .dealer-detail .u-hotline {
  font-size: 14px;
  color: #666666;
  height: 28px;
  line-height: 28px;
  margin-top: 5px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner {
  height: 391px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner .slider-nav {
  left: auto;
  right: 20px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner .slider-icon {
  height: 22px;
  line-height: 22px;
  position: absolute;
  bottom: 10px;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
  padding: 0 7px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner .slider-icon .touch-icon-tuku {
  margin-right: 3px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner .slider-icon .touch-icon-tuku:before {
  color: #ffffff;
  font-size: 13px;
}
.m-content .m-main.m-distributor-detail .m-screen .m-banner .slider-icon .slider-text {
  float: left;
  font-size: 14px;
  color: #ffffff;
}
.m-screen {
  overflow: hidden;
  background-color: #fff;
  width: 1132px;
  margin: 0 auto;
}
.m-screen .m-banner {
  height: 679px;
  width: 100%;
}
.m-screen .m-banner .u-banner-icon {
  left: 0;
  bottom: 0;
}
.m-screen .m-banner .promo {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.m-screen .m-banner .promo ul {
  overflow: hidden;
  position: absolute;
}
.m-screen .m-banner .promo ul li {
  float: left;
  width: 1132px;
  /*height: 390px;*/
  background: #f2f2f2;
  min-height: 1132px;
}
.m-screen .m-banner .promo ul li img {
  width: 100%;
  /* height: 390px; */
  background: none;
  margin: 0 auto;
  display: block;
}
.m-screen .m-banner .slider-nav {
  overflow: hidden;
  position: absolute;
  bottom: 10px;
  left: 50%;
}
.m-screen .m-banner .slider-nav li {
  width: 15px;
  height: 15px;
  float: left;
  margin-left: 10px;
  background: url(../images/www.png) no-repeat;
  background-position: -93px -143px;
  cursor: pointer;
}
.m-screen .m-banner .slider-nav li.cur {
  background-position: -119px -143px;
}
.m-screen .m-banner .prev,
.m-screen .m-banner .next {
  background: url(../images/www.png) no-repeat;
  width: 30px;
  height: 64px;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  display: none;
}
.m-screen .m-banner .prev {
  background-position: -47px -142px;
  left: 0;
}
.m-screen .m-banner .next {
  background-position: 0 -142px;
  right: 0;
}
.m-screen .m-banner:hover .prev,
.m-screen .m-banner:hover .next {
  display: block;
}
.sub-carinfo {
  padding: 24px 0;
}
.sub-carinfo .main-info,
.sub-carinfo .car-thumb,
.sub-carinfo .param-config {
  float: left;
}
.sub-carinfo .car-thumb {
  width: 259px;
  overflow: hidden;
}
.sub-carinfo .opear-btn {
  float: right;
  width: 344px;
  margin-right: -6px;
  margin-top: 7px;
}
.sub-carinfo .opear-btn a {
  display: block;
  font-size: 16px;
  color: #333333;
  background-color: #ffffff;
  float: left;
  border: 1px solid #ccc;
  min-width: 148px;
  text-align: center;
  height: 43px;
  line-height: 43px;
  margin-top: 12px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 2px;
  padding: 0 5px;
}
.sub-carinfo .opear-btn a:hover {
  background-color: #f4f4f4;
}
.sub-carinfo .opear-btn a .clearfix .touch-icons {
  margin-right: 7px;
  margin-left: 36px;
}
.sub-carinfo .opear-btn a .clearfix .m-text {
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 64px;
  text-align: left;
}
.sub-carinfo .opear-btn a .width-auto {
  width: 82px;
  margin: 0 auto;
}
.sub-carinfo .opear-btn a .width-auto .touch-icons {
  margin-left: 0;
}
.sub-carinfo .opear-btn a .width-auto .touch-icons:before {
  font-size: 22px;
  color: #666666;
}
.sub-carinfo .opear-btn a .width-auto .touch-icons.hot:before {
  color: #ce0028;
}
.sub-carinfo .opear-btn a .width-auto .touch-icons.touch-icon-collect_1 {
  margin-top: 11px;
}
.sub-carinfo .opear-btn a .width-auto .m-text {
  text-align: center;
  width: 52px;
}
.sub-carinfo .main-info .car-thumb img {
  display: block;
  width: 100%;
}
.sub-carinfo .main-info .param-config {
  padding-top: 20px;
  padding-left: 15px;
}
.sub-carinfo .main-info .param-config .m-title {
  font-size: 18px;
  color: #333333;
  height: 30px;
  line-height: 30px;
}
.sub-carinfo .main-info .param-config .m-title.lan-other {
  font-family: '微软雅黑' !important;
}
.sub-carinfo .main-info .param-config .m-title span {
  font-size: 14px;
}
.sub-carinfo .main-info .param-config .m-price {
  font-size: 14px;
  color: #999;
  height: 25px;
  line-height: 25px;
}
.sub-carinfo .main-info .param-config .m-price b {
  font-weight: normal;
}
.sub-carinfo .main-info .param-config .m-btn {
  padding: 7px 0 0 0;
  margin-top: 20px;
}
.sub-carinfo .main-info .param-config .m-btn a {
  display: block;
  float: left;
  font-size: 14px;
  background-color: #4c4c4c;
  height: 30px;
  line-height: 30px;
  color: #ffffff;
  margin-right: 6px;
  padding: 0 23px;
  border-radius: 3px;
}
.sub-carinfo .main-info .param-config .m-btn a:hover {
  background-color: #2d2d2d;
}
.sub-carinfo .m-left {
  float: left;
}
.sub-carinfo .m-left .m-model {
  font-size: 16px;
  color: #333333;
  height: 36px;
  line-height: 36px;
}
.sub-carinfo .m-left .m-sub {
  font-size: 14px;
  color: #999999;
  height: 20px;
  line-height: 20px;
}
.sub-carinfo .m-left .dealer-photo,
.sub-carinfo .m-left .dealer-detail {
  float: left;
}
.sub-carinfo .m-left .dealer-photo {
  margin-right: 15px;
  width: 101px;
  height: 101px;
  margin-top: 4.5px;
}
.sub-carinfo .m-left .dealer-photo img {
  display: block;
  width: 100%;
}
.sub-carinfo .m-left .dealer-detail .u-company .atar_Show {
  background: url(../images/stark2.png);
  width: 75px;
  height: 12px;
  position: relative;
  /*float:left;*/
  /*margin-top: 12px;*/
}
.sub-carinfo .m-left .dealer-detail .u-company .atar_Show p {
  background: url(../images/stars2.png);
  left: 0;
  height: 12px;
  width: 70px;
}
.sub-carinfo .m-left .dealer-detail .u-company .u-name {
  /*float: left;*/
  margin-right: 12px;
  font-weight: normal;
  font-size: 20px;
  color: #333;
  line-height: 45px;
  /*max-width: 318px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -6px;
}
.sub-carinfo .m-left .dealer-detail .u-place,
.sub-carinfo .m-left .dealer-detail .u-hotline {
  font-size: 14px;
  color: #666666;
  height: 33px;
  line-height: 30px;
}
.sub-carinfo .m-left .dealer-detail .u-place .touch-icons:before,
.sub-carinfo .m-left .dealer-detail .u-hotline .touch-icons:before {
  font-size: 14px;
  color: #b4b4b4;
}
.sub-carinfo .m-left .dealer-detail .u-place .text,
.sub-carinfo .m-left .dealer-detail .u-hotline .text {
  float: left;
  margin-left: 10px;
}
.m-content-list {
  margin-top: 10px;
  background-color: #ffffff;
  padding: 5px 0;
}
.m-content-list .m-list-title {
  border-bottom: 1px solid #e4e4e4;
  padding: 20px 32px;
  position: relative;
}
.m-content-list .m-list-title .list-name {
  font-size: 16px;
  color: #ce0028;
  position: relative;
  padding: 23px 5px;
}
.m-content-list .m-list-title .list-name:after {
  content: '';
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ce0028;
  border-bottom: 1px solid #ce0028;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}
.m-content-list .m-list-title .now-position {
  display: block;
  position: absolute;
  right: 42px;
  top: 21px;
  font-size: 14px;
  color: #999999;
}
.m-content-list .m-list-title .now-position .touch-icon-position {
  margin-right: 11px;
}
.m-content-list .m-list-title .now-position .touch-icon-position:before {
  font-size: 15px;
  color: #b4b4b4;
}
.m-content-list .list-items {
  padding: 15px 32px;
}
.m-content-list .list-items .m-config {
  font-size: 12px;
  color: #333333;
  height: 24px;
  line-height: 24px;
  background-color: #f0f0f0;
  padding: 0 8px;
}
.m-content-list .list-items .config-detail,
.m-content-list .list-items .dealer-info {
  padding: 5px 0;
  border-bottom: 1px dashed #d6d6d6;
}
.m-content-list .list-items .config-detail:last-child,
.m-content-list .list-items .dealer-info:last-child {
  border-bottom: 0;
}
.m-content-list .list-items .config-detail .fl,
.m-content-list .list-items .dealer-info .fl {
  float: left;
}
.m-content-list .list-items .config-detail .fr,
.m-content-list .list-items .dealer-info .fr {
  float: right;
}
.m-content-list .list-items .config-detail.width-80 .m-left .dealer-photo,
.m-content-list .list-items .dealer-info.width-80 .m-left .dealer-photo {
  width: 80px;
}
.m-content-list .list-items .config-detail.width-80 .m-right,
.m-content-list .list-items .dealer-info.width-80 .m-right {
  margin-top: 14px;
}
.m-content-list .list-items .config-detail .m-left,
.m-content-list .list-items .dealer-info .m-left {
  width: auto;
}
.m-content-list .list-items .config-detail .m-left .m-model,
.m-content-list .list-items .dealer-info .m-left .m-model {
  font-size: 16px;
  color: #333333;
  height: 36px;
  line-height: 36px;
}
.m-content-list .list-items .config-detail .m-left .m-sub,
.m-content-list .list-items .dealer-info .m-left .m-sub {
  font-size: 14px;
  color: #999999;
  height: 20px;
  line-height: 20px;
}
.m-content-list .list-items .config-detail .m-left .dealer-photo,
.m-content-list .list-items .dealer-info .m-left .dealer-photo,
.m-content-list .list-items .config-detail .m-left .dealer-detail,
.m-content-list .list-items .dealer-info .m-left .dealer-detail {
  float: left;
}
.m-content-list .list-items .config-detail .m-left .dealer-photo,
.m-content-list .list-items .dealer-info .m-left .dealer-photo {
  margin-right: 15px;
}
.m-content-list .list-items .config-detail .m-left .dealer-photo img,
.m-content-list .list-items .dealer-info .m-left .dealer-photo img {
  display: block;
  width: 100%;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-company .atar_Show,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-company .atar_Show {
  background: url(../images/stark2.png);
  width: 75px;
  height: 12px;
  position: relative;
  /*float:left;*/
  margin-top: 0;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-company .atar_Show p,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-company .atar_Show p {
  background: url(../images/stars2.png);
  left: 0;
  height: 12px;
  width: 70px;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-company .u-name,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-company .u-name {
  /*float: left;*/
  margin-right: 12px;
  font-weight: normal;
  font-size: 20px;
  color: #333;
  line-height: 30px;
  /*max-width: 318px;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: -6px;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-place,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-place,
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-hotline,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-hotline {
  font-size: 14px;
  color: #666666;
  height: 23px;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-place .touch-icons:before,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-place .touch-icons:before,
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-hotline .touch-icons:before,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-hotline .touch-icons:before {
  font-size: 14px;
  color: #b4b4b4;
}
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-place .text,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-place .text,
.m-content-list .list-items .config-detail .m-left .dealer-detail .u-hotline .text,
.m-content-list .list-items .dealer-info .m-left .dealer-detail .u-hotline .text {
  float: left;
  margin-left: 10px;
}
.m-content-list .list-items .config-detail .m-center,
.m-content-list .list-items .dealer-info .m-center {
  /*width: 220px;*/
  padding-left: 11px;
}
.m-content-list .list-items .config-detail .m-center .m-price,
.m-content-list .list-items .dealer-info .m-center .m-price {
  font-size: 14px;
  color: #999999;
  text-align: center;
  line-height: 56px;
}
.m-content-list .list-items .config-detail .m-center .m-price b,
.m-content-list .list-items .dealer-info .m-center .m-price b {
  font-weight: normal;
}
.m-content-list .list-items .config-detail .m-right,
.m-content-list .list-items .dealer-info .m-right {
  min-width: 334px;
}
.m-content-list .list-items .config-detail .m-right .seller-price,
.m-content-list .list-items .dealer-info .m-right .seller-price,
.m-content-list .list-items .config-detail .m-right .see-detail,
.m-content-list .list-items .dealer-info .m-right .see-detail {
  float: left;
}
.m-content-list .list-items .config-detail .m-right .seller-price,
.m-content-list .list-items .dealer-info .m-right .seller-price {
  height: 56px;
  line-height: 56px;
  font-size: 14px;
  color: #999999;
  margin-right: 40px;
  float: right;
  min-width: 150px;
  text-align: left;
}
.m-content-list .list-items .config-detail .m-right .seller-price span,
.m-content-list .list-items .dealer-info .m-right .seller-price span {
  color: #ce0028;
}
.m-content-list .list-items .config-detail .m-right a.see-detail,
.m-content-list .list-items .dealer-info .m-right a.see-detail {
  padding: 0 10px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: block;
  font-size: 14px;
  color: #333333;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 13px;
  margin-bottom: 13px;
  background-color: #ffffff;
  margin-right: 10px;
}
.m-content-list .list-items .config-detail .m-right a.see-detail:last-child,
.m-content-list .list-items .dealer-info .m-right a.see-detail:last-child {
  margin-right: 0;
}
.m-content-list .list-items .config-detail .m-right a.see-detail:hover,
.m-content-list .list-items .dealer-info .m-right a.see-detail:hover {
  background-color: #f5f5f5;
}
.m-content-list .list-items .config-detail .m-left .m-model {
  height: 56px;
  line-height: 56px;
  width: 480px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.m-content-list .list-items .dealer-info {
  padding: 20px 0 20px 0;
}
.m-content-list .list-items .dealer-info:first-child {
  padding: 0 0 20px 0;
}
.m-content-list .list-items li:last-child .config-detail:last-child,
.m-content-list .list-items li:last-child .dealer-info:last-child {
  border-bottom: 1px dashed #d6d6d6;
}
.m-car-model .list-items {
  padding: 15px 32px 42px 32px;
}
.m-car-offer .list-items {
  padding: 20px 32px 0 32px;
}
.m-car-offer .list-items li:last-child .dealer-info:last-child {
  border-bottom: 0;
}
.carmodel-list {
  background-color: #ffffff;
  margin-top: 10px;
}
.carmodel-list .tab {
  position: relative;
}
.carmodel-list .tab-hd {
  overflow: hidden;
  zoom: 1;
  position: relative;
  padding: 0 40px;
  border-bottom: 1px solid #e4e4e4;
}
.carmodel-list .tab-hd li {
  float: left;
  display: block;
  color: #333;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
  font-size: 16px;
  height: 56px;
  line-height: 57px;
  position: relative;
  padding: 0 23px;
  margin-right: 7px;
}
.carmodel-list .tab-hd li a {
  color: #333;
  display: block;
  position: relative;
  padding: 0 6px;
}
.carmodel-list .tab-hd li.active a {
  color: #ce0028;
}
.carmodel-list .tab-hd li.active a:after {
  content: '';
  width: 100%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 0;
  z-index: 4;
  background-color: currentColor;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.carmodel-list .tab-bd .list-item {
  display: none;
}
.carmodel-list .tab-bd .list-item .list-padding {
  padding: 0 28px 20px 28px;
}
.carmodel-list .tab-bd .list-item .model-item {
  border-bottom: 1px dashed #c1c1c1;
}
.carmodel-list .tab-bd .list-item .model-item .m-left {
  float: left;
}
.carmodel-list .tab-bd .list-item .model-item .m-right {
  float: right;
}
.carmodel-list .tab-bd .list-item .sell-carmodel {
  padding: 20px 0;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-photo {
  float: left;
  width: 160px;
  margin-right: 20px;
  position: relative;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-photo img {
  display: block;
  width: 100%;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-photo .m-discount-fav {
  top: -12px;
  left: 8px;
  font-size: 12px;
  padding: 3px 3px 5px 3px;
  line-height: 16px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-info {
  float: left;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-info .title {
  font-size: 18px;
  color: #333;
  line-height: 30px;
  margin-top: 12px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-info .title span {
  font-size: 14px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-left .car-info .price {
  font-size: 16px;
  color: #999999;
  line-height: 26px;
  margin-top: 18px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-right {
  padding: 28px 0;
  margin-right: 24px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-right a {
  background-color: #ffffff;
  display: block;
  border-radius: 3px;
  font-size: 16px;
  color: #333333;
  text-align: center;
  border: 1px solid #ccc;
  height: 38px;
  line-height: 40px;
  position: relative;
  padding: 0 46px 0 36px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-right a:active {
  background-color: #f0f0f0;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-right a:after {
  content: '';
  margin-left: 5px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: #333;
  border-width: 1px 1px 0 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
  right: 26px;
  top: 50%;
  margin-top: -6px;
}
.carmodel-list .tab-bd .list-item .sell-carmodel .m-right a.cur:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: 0;
}
.carmodel-list .tab-bd .list-item .show-detail-list {
  display: none;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail {
  background-color: #f5f5f5;
  padding: 15px 0 15px 20px;
  border-bottom: 2px solid #fff;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail:last-child {
  border-bottom: 0;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .car-config {
  font-size: 16px;
  color: #333333;
  line-height: 28px;
  float: left;
  margin-right: 20px;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .car-price {
  font-size: 14px;
  color: #999999;
  line-height: 28px;
  float: left;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .seller-price {
  font-size: 14px;
  color: #999999;
  float: left;
  line-height: 28px;
  margin-right: 20px;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .seller-price span {
  color: #ce0028;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .dump-btn {
  background-color: #ffffff;
  display: block;
  width: 82px;
  height: 28px;
  line-height: 28px;
  border-radius: 3px;
  text-align: center;
  border: 1px solid #ccc;
  color: #333333;
  font-size: 14px;
  margin-right: 10px;
  float: left;
}
.carmodel-list .tab-bd .list-item .show-detail-list .open-detail .dump-btn:hover {
  background-color: #f0f0f0;
}
.rece-maintain {
  background-color: #ffffff;
}
.rece-maintain .maintain-checkbox {
  padding: 0 28px;
  border-bottom: 3px solid #f0f0f0;
}
.rece-maintain .maintain-checkbox .m-title {
  border-bottom: 1px solid #e5e5e5;
  height: 60px;
  line-height: 60px;
  margin-top: 0;
}
.rece-maintain .maintain-checkbox .m-checkbox {
  padding: 25px 0 7px 0;
}
.rece-maintain .maintain-checkbox .m-checkbox .input_check {
  position: absolute;
  width: 18px;
  height: 18px;
  visibility: hidden;
  background: #E92333;
}
.rece-maintain .maintain-checkbox .m-checkbox span {
  position: relative;
  display: block;
  float: left;
  min-width: 220px;
  margin-bottom: 18px;
  margin-left: 7px;
}
.rece-maintain .maintain-checkbox .m-checkbox .label-text {
  padding-left: 14px;
  display: block;
  float: left;
  font-size: 16px;
  color: #333333;
  height: 18px;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 188px;
}
.rece-maintain .maintain-checkbox .m-checkbox label {
  cursor: pointer;
}
.rece-maintain .maintain-checkbox .m-checkbox .input_check + .label-check {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url('../images/www.png') no-repeat;
  background-position: -235px -145px;
}
.rece-maintain .maintain-checkbox .m-checkbox .input_check:checked + .label-check {
  background-position: -235px -164px;
}
.rece-maintain .maintain-bottom {
  background-color: #ffffff;
}
.rece-maintain .maintain-bottom .item-result {
  padding: 10px 0 10px 42px;
}
.rece-maintain .maintain-bottom .m-text {
  font-size: 14px;
  color: #999999;
  line-height: 26px;
}
.rece-maintain .maintain-bottom .m-result {
  font-size: 14px;
  color: #333333;
  line-height: 26px;
  width: 684px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.rece-maintain .maintain-bottom .m-total {
  font-size: 16px;
  color: #333333;
  height: 72px;
  line-height: 72px;
  border-right: 1px solid #e3e3e3;
  padding-right: 20px;
}
.rece-maintain .maintain-bottom .m-total span {
  color: #cf032b;
}
.rece-maintain .maintain-bottom .m-btn {
  display: block;
  width: 163px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-size: 20px;
  color: #333333;
  background-color: #f8f8f8;
}
.rece-maintain .maintain-bottom .m-btn.hot {
  color: #fff;
  background-color: #ce0028;
}
.rece-maintain .maintain-bottom .m-btn:hover {
  background-color: #f0f0f0;
}
.rece-maintain .maintain-bottom .m-btn:hover.hot {
  background-color: #bb0024;
}
