.act-box{margin-bottom:50px;margin:0 auto;}
.act-box .title{font-size:30px;}
.act-box .title .more{float:right;font-size:14px;color:#000;}
.act-box .title .more:hover{color:#c03;}
.act-box .title .more .icon-more{display:inline-table;width:8px;height:11px;background:url(../images/icon-sm.png) -25px -521px;margin-left:6px;}
.act-box .row{width:103%;overflow:hidden;padding-top: 10px;}
.act-box .rows{width:100%;overflow:hidden;padding: 30px 10px;background-color: #FFFFFF;border-top: 1px solid #000;box-sizing: border-box;}
.act-box .item{box-sizing: border-box; padding:2.5% 0.5% 0.5% 1%;width:31.7%; min-height: 360px; float:left;background:#fff;margin-right:1%;color:#191919;position:relative;margin-bottom:1%;}
.act-box .items{box-sizing: border-box;
    /*padding:2.5% 0.5% 0.5% 1%;*/
    border:1px solid #DCDCDC;
    width:23.5%; min-height: 540px; float:left;background:#fff;margin-right:1.9%;color:#191919;position:relative;
    /*margin-bottom:2%;*/
}
.act-box .items:last-child{
    margin-right: 0;
}
.act-box .item.item_w{
    margin-bottom: 0;
}
.act-box .item h3{font-size:22px;height:34px;overflow:hidden;padding-right: 20px;    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
.act-box .items h3{font-size:22px;height:34px;overflow:hidden;padding-right: 20px;    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: bold;
    margin-left: 15px;
}
.act-box .item .t{height:24px;overflow:hidden;text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;}
.act-box .items .t{height:24px;overflow:hidden;text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 15px;
    white-space: nowrap;}
.act-box .item .image{width:51.5%;float:left;position:relative;}
.act-box .items .image{width:100%;}
.act-box .item .info{width:43.5%;height:100%;float:right;color:#4c4c4c;}
.act-box .items .info{width:90%;height:100%;color:#333333;padding: 0 15px 15px 15px;}
.act-box .item h4{font-size:14px;margin-bottom:10px;height:20px; overflow:hidden;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight: normal;}
.act-box .items h4{font-size:14px;margin-bottom:10px;height:20px; overflow:hidden;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;font-weight: normal;}
.act-box .item .info p{margin-bottom:5px;}
.act-box .item .zc{font-size:12px;}
.act-box .item .zc span{display:inline-table;margin-right:10px;}
.act-box .item .zc .icon-r{display:inline-table;width:15px;height:15px;background:url(../images/icon-sm.png) -22px -880px;vertical-align:middle;margin-right:4px;}
.act-box .item .time{
    font-size:14px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    /*white-space: -pre-wrap;      !* Opera 4-6 *!*/
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.act-box .item .dp{font-size:14px;}
.act-box .item .price{font-size:12px;color:#c03;font-weight:bold;}
.act-box .item .price .p{font-size:24px;}
.act-box .item .cx{font-size:12px;height:18px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
.act-box .item .djs{font-size:14px;color:#000;font-weight:bold;}
.act-box .item .s-url{color:#4c4c4c;}
.act-box .item .s-url:hover{color:#c03;}
.act-box .item .btn a{position: absolute; display:inline-table;width:150px;line-height:38px;background:#c03;text-align:center;color:#fff;font-size:17px;vertical-align:top;padding:0;bottom: 10px;}
.act-box .item .btn a.gray{
    background: #e7e8ea;
    color: #000;
}
.act-box .item .btn a.gray .icon-view{
    background: url(../images/icon-sm-q.png);
    width: 16px;
    height: 13px;
}
.act-box .item .btn a.gray:hover{
    background: #e7e8ea;
}
.act-box .item .btn a:hover{background:#ae002b;}
.act-box .item .icon-view{background:url(../images/icon-sm.png) 0 -200px no-repeat;width:18px;height:15px;display:inline-table;vertical-align:middle;margin-left:5px;}


.act-box .items .info p{
    margin-bottom:5px;
}
.act-box .items .zc{font-size:12px;}
.act-box .items .zc span{
    /*border: 1px solid #666;*/
    /*border-radius: 10px;*/
    padding: 0 5px;
    /* width: 70px; */
    /* height: 20px; */
    color: #666;
    text-align: center;
}
.act-box .items .zc span{
    /*display: inline-table;*/
    /*margin: 5px 10px 5px 0;*/
    /*background: url(../images/icon-checked.png) no-repeat;*/
    /*background-size: 13px 13px;*/
    /*background-position: 0 50%;*/
    /*padding-left: 15px;*/
    /*vertical-align: middle;*/
    border: 1px solid #c03;
    display: inline-block;
    margin: 5px 10px 5px 0;
    text-align: center;
    height: 20px;
    line-height: 20px;
    width: 50px;
    color: #c03;
    border-radius: 11px;
    font-weight: normal;
    font-size: 12px;
}
.act-box .items .zc .icon-r{display:inline-table;width:15px;height:15px;background:url(../images/icon-sm.png) -22px -880px;vertical-align:middle;margin-right:4px;}
.act-box .items .time{font-size:14px;}
.act-box .items .dp{font-size:14px;margin:5px 0 5px 15px;padding-right: 30px;text-overflow: ellipsis;overflow: hidden;
    white-space: nowrap;}
.act-box .items .price{font-size:12px;color:#c03;font-weight:bold;}
.act-box .items .price .p{font-size:24px;}
.act-box .items .cx{font-size:12px;height:18px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width: 90%;}
.act-box .items .djs{font-size:14px;color:#666;font-weight:normal;margin-top: -5px}
.act-box .items .s-url{color:#333333;}
/*.act-box .items .s-url:hover{color:#c03;}*/
.act-box .items .btn a{
    position: absolute; display:inline-table;width:150px;line-height:38px;background:#000;text-align:center;color:#fff;font-size:17px;vertical-align:top;padding:0;bottom: 10px;
    /*left: 50%;margin-left: -75px;*/
    margin-left: 16%;
}
.act-box .items .btn a.gray{
    background: #e7e8ea;
    color: #000;
}
.act-box .items .btn a.gray .icon-view{
    background: url(../images/icon-sm-q.png);
    width: 16px;
    height: 13px;
}
.act-box .items .btn a.gray:hover{
    background: #e7e8ea;
}
.act-box .items .btn a:hover{background:#c03;}
.act-box .items .icon-view{background:url(../images/icon-sm.png) 0 -200px no-repeat;width:18px;height:15px;display:inline-table;vertical-align:middle;margin-left:5px;}


.act-box .item .icon-rt{
    display:block;position:absolute;top:-10px;right:19px;
    width: 85px;
    height: 37px;
}
.act-box .items .icon-rt{
    display:block;position:absolute;top:-10px;right:19px;
    width: 85px;
    height: 37px;
}
.act-box .item .icon-rt.icon-r-d{
    background: url(../images/icon-r-d.png);
}
.act-box .items .icon-rt.icon-r-d{
    background: url(../images/icon-r-d.png);
}
.act-box .item .icon-rt.icon-r-t{
    background: url(../images/icon-r-t.png);
}
.act-box .items .icon-rt.icon-r-t{
    background: url(../images/icon-r-t.png);
}
.act-box .item .icon-rt.icon-r-tj{
    background: url(../images/icon-r-tj.png);
}
.act-box .items .icon-rt.icon-r-tj{
    background: url(../images/icon-r-tj.png);
}
.act-box .item .icon-huan{display:block;width:45px;height:45px;position:absolute;left:0;top:0;background:#c03 url(../images/icon-act.png);z-index:2;}
.act-box .items .icon-huan{display:block;width:45px;height:45px;position:absolute;left:0;top:0;background:#c03 url(../images/icon-act.png);z-index:2;}
@media screen and (max-width:1280px){

}
@media screen and (max-width:1180px) and (min-width:851px){
    .act-box .items {
        min-height: 500px;
    }
    .act-box .item .mh{height:195px!important;max-height:195px!important;padding-bottom:20px;min-height:195px!important;}
    .act-box .item .image{width:95%;float:none;margin-bottom:20px;}
    .act-box .item .info{width:100%;float:none}
    .act-box .item h3{ font-size:20px; padding-top:5px;}
    /*.act-box .item .icon-rt{ font-size:18px; line-height:35px;}*/
}
@media screen and (max-width:900px){
    .act-box .rows {
        padding: 0;
    }
    .act-box .items {
        width: 31%;
        margin: 10px 1%;
        min-height: 500px;
    }
}

@media screen and (max-width:850px){
    .act-box .row{width:100%;}
    .act-box .item{width:100%;padding:2.45% 0 2.45% 2.45%;margin-bottom:30px;}
    .act-box .item .info{width:46%;}
    /*.act-box .item .icon-rt{line-height:48px;font-size:24px;}*/
}
@media screen and (max-width:700px){
    .act-box .rows {
        padding:0;
        border:none;
        /*background-color:#ececec;*/
    }
    .act-box .items .image {
        width: 40%;
        float: left;
    }
    .act-box .items h3 {
        font-size: 16px;
        padding-right:0;
        height: auto;
        margin-left: 0;
    }
    .act-box .items .dp {
        margin: 5px 0;
    }
    .act-box .items .car-content {
        width: 57%;
        float: right;
    }
    .act-box .title {
        font-size: 20px;
    }
    .act-box .items .info {
        padding: 0;
    }
    .act-box .items .price .p {
        font-size: 18px;
    }
    .act-box .items .time {
        margin: 5px 0;
        font-size: 12px;
        word-wrap:break-word;
    }
    .act-box .items .djs {
        font-size: 12px;
        color: #333333;
        font-weight: normal;
    }
    .act-box .items .purchase{
        min-height: 30px;
    }
    .act-box .items .s-url{font-size: 12px;}
    .act-box .items{width: 100%;min-height:0;border: none;padding: 15px 0;
        margin: 0;
        border-bottom: 1px solid #eeeeee;}
    .act-box .items:last-child{
        border-bottom: none;
    }
    .act-box .items .icon-rt {
        display: block;
        position: absolute;
        top: 15px;
        left: 15px;
        width: 47px;
        height: 65px;
    }
    .act-box .items .icon-rt.icon-r-tj {
        background: url(../images/quan-mob.png) no-repeat;
        background-size: 50% 50%;
    }
    .act-box .items .icon-rt.icon-r-t {
        background: url(../images/tuan-mob.png) no-repeat;
        background-size: 50% 50%;
    }
    .act-box .items .btn a.gray {
        background: #dddddd;
        border: none;
        color: #a3a3a3;
    }
    .act-box .items .btn a{width: 70px;
        line-height: 25px;
        height: 25px;
        font-size: 12px;
        position: absolute;
        margin-bottom: 0;
        right: 10px;
        bottom: 15px;
        background: transparent;
        color: #333333;
        border: 1px solid #666666;}
    .act-box .item{padding:8% 0 5% 2.45%;min-height:0;}
    .act-box .item .image{width:48%;}

    /*.act-box .item .icon-rt{line-height:35px;font-size:15px;right:15px;}*/
    .act-box .item .info{width:48%;}
    .act-box .item .info p{margin-bottom:3px;}
    .act-box .item h3{height:28px;font-size:16px;}
    .act-box .item h4{font-size:13px;}
    .act-box .item .price{font-size:12px;}
    .act-box .item .price .p{font-size:20px;}
    .act-box .item .zc span{margin-right:5px;}
    .act-box .item .time{font-size:12px;}
    .act-box .item .dp{font-size:12px;}
    .act-box .item .djs{font-size:12px;}
    .act-box .item .btn a{width:95px;line-height:30px;font-size:12px;position:static}
    .act-box .item .icon-view{-webkit-transform:scale(.6);transform:scale(.6);}
    .act-box .item .zc .icon-r{-webkit-transform:scale(.8);transform:scale(.8);margin:0;}
}
@media screen and (max-width:330px){
    .act-box .items .dp {
        margin: 0;
    }
}

