/*===reset===*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  font-size: 12px;
  height: 100%;
  font-family: '微软雅黑';
}
@font-face {
  /*font-family: 'AUDIEX';*/
  /*src: url('../../fonts/AUDIEX.ttf'); /* IE9*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  text-decoration: none;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
select,
button {
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none;
}
input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
}
textarea {
  overflow: auto;
  font: 100% tahoma, \5b8b\4f53, arial;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*HTML5*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
time,
mark {
  display: inline;
}
mark {
  background-color: #ff0;
  color: #000;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.u-banner-icon {
  width: 25px;
  height: 16px;
  line-height: 17px;
  text-align: center;
  position: absolute;
  overflow: hidden;
  background-color: #000;
  z-index: 999;
  opacity: 0.3;
  filter: alpha(opacity=30);
  color: #FFF;
  border-radius: 0 6px 0 0;
  /* -webkit-transform: scale(0.8); */
  /* transform: scale(0.8); */
  font-size: 12px;
}
@font-face {
  /*font-family: 'HKZTW';*/
  /*src: url('../../fonts/HKZTW.ttf')*/
}
@font-face {
  /*font-family: 'HKZT';*/
  /*src: url('../../fonts/HKZT.ttf')*/
}
.m-minheight .m-ad {
  overflow: hidden;
  width: 100%;
  text-align: center;
  height: auto;
}
.m-minheight .m-ad img {
  width: 100%;
}
.show-modal-box {
  background: #fff;
  width: 460px;
  height: 260px;
  margin: -130px 0 0 -230px;
  padding: 0;
  display: none;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
}
.show-modal-box.active {
  display: block;
}
.show-modal-box .modal-tit {
  width: 100%;
  display: flex;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  color: #333;
  position: relative;
}
.show-modal-box .modal-tit h1 {
  font-weight: normal;
  padding: 0 0 0 28px;
}
.show-modal-box .modal-tit .aui_close {
  position: absolute;
  top: 10px;
  right: 11px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 22px;
  color: #68767b;
  text-align: center;
  background-image: url(../../images/www.png);
  background-repeat: no-repeat;
  background-position: -45px -66px;
  cursor: pointer;
}
.show-modal-box .modal-cont {
  width: 400px;
  margin: 22px auto 0 auto;
  text-align: center;
}
.show-modal-box .modal-cont .conts {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #666;
}
.show-modal-box .modal-cont .modal-btn {
  width: 115px;
  height: 35px;
  margin-top: 76px;
  background: #ce0028;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}
.show-modal-box .modal-cont .modal-btn.aui_close {
  background: #666;
}
.m-minheight {
  width: 100%;
}
.m-minheight .m-main {
  display: block;
  margin: 0 auto;
}
.lan-other {
  font-family: 微软雅黑 !important;
}
.sub-title {
  font-size: 12px;
  color: #999;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
textarea,
select {
  -webkit-appearance: none;
  outline: none;
}
.common-fade {
  display: none;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  cursor: move;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.common-fade.active {
  display: block;
}
.common-model {
  display: none;
  position: fixed;
  width: 400px;
  height: 200px;
  background: #fff;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -100px;
  z-index: 1001;
}
.common-model .common-model-header {
  line-height: 64px;
  color: #333;
  text-align: center;
  font-size: 18px;
}
.common-model .common-model-cont {
  width: 80%;
  display: block;
  margin: 15px auto;
  font-size: 14px;
  color: #333;
  text-align: center;
}
.common-model .common-model-footer {
  width: 100%;
  display: block;
  text-align: center;
  position: absolute;
  bottom: 17px;
}
.common-model .common-model-footer a {
  color: #fff;
  padding: 4px 14px;
  border-radius: 4px;
  font-size: 14px;
  background: #bb0a30;
}
.common-model .common-model-footer a:hover {
  background: #d00c36;
}
.common-model .common-model-footer a.common-model-cancel {
  background: none;
  border: 1px solid #bb0a30;
  color: #bb0a30;
}
.common-model .common-model-footer a.common-model-cancel:hover {
  color: #d00c36;
  border-color: #d00c36;
}
.common-model.active {
  display: block;
}
