body {
  background: #fff;
  color: #000;
}
#btn-online #offLineNum{
  width: 180px;
  height: 40px;
  line-height: 40px;
  background: #c03 !important;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 450;
  overflow: hidden;
  color: #fff;
  text-align: center;
  transform-origin: bottom right;
  font-size: 18px;
}
#btn-online .icon-advice{
  position: fixed;
  right: 124px;
  bottom: 8px;
  z-index: 451;
  display: inline-table;
  width: 29px;
  height: 23px;
  background: url(../images/icon.png) no-repeat -6px -1012px;
  vertical-align: middle;
  margin-right: 10px;
}


.banner {
  width: 100%;
  height: auto;
}
.banner .img {
  width: 100%;
}
.banner .img img.mobile {
  display: none;
}
.banner .nav_all{
  position: relative;
  width: 100%;
  height: 40px;
}
.banner .nav_w {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #ececec;
}
.banner .nav_w.active{
  position: fixed;
  top: 0;
  left: 0;
}
.banner .nav_w .nav_v {
  overflow: hidden;
  max-width: 1180px;
  margin: 0 auto;
}
.banner .nav_w .nav_v a {
  display: block;
  float: left;
  font-size: 14px;
  color: #000;
  margin-right: 40px;
}
.banner .nav_w .nav_v a.active {
  color: #c03;
}
.act-box {
  max-width: 1180px;
  margin: 0 auto;
}
.act-box .list.list_cr .page_title {
  float: left;
}
.act-box .list.list_cr .content_p {
  float: left;
}
.act-box .list.list_cr .l_img {
  float: right;
}
.act-box .list.first {
  border-top: none;
}
.act-box .list {
  overflow: hidden;
  padding: 60px 0;
  border-top: 1px solid #cecdcd;
}
.act-box .list .page_title {
  float: right;
  width: 57%;
}
.act-box .list .page_title h2 {
  font-size: 24px;
}
.act-box .list .page_title p {
  font-size: 18px;
  margin-top: 10px;
}
.act-box .list .l_img {
  width: 40%;
  height: auto;
  float: left;
}
.act-box .list .content_p {
  float: right;
  width: 57%;
}
.act-box .list .content_p p {
  line-height: 24px;
  font-size: 14px;
  margin-top: 20px;
}
.act-box .btn {
  display: block;
  width: 250px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  background: #c03;
  margin: 0 auto;
}
.act-box .btn:hover{
  background: #ae002b;
}
.act-box .btn .icon-view {
  background: url(../images/icon-sm.png) 0 -200px no-repeat;
  width: 18px;
  height: 15px;
  display: inline-table;
  vertical-align: middle;
  margin-left: 5px;
}
.content {
  max-width: 1180px;
  margin: 0 auto;
  padding: 40px 0;
}
.content h1 {
  font-size: 24px;
}
.content p {
  font-size: 14px;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.content a.btn {
  display: inline-table;
  font-size: 14px;
}
.content a.btn span {
  background: url(../images/used_car/btn_right.jpg);
  display: inline-table;
  width: 8px;
  height: 11px;
  margin-left: 3px;
}
@media screen and (max-width: 1280px) {
  .banner .nav_w .nav_v {
    width: 94%;
  }
  .act-box {
    width: 94%;
  }
  .content {
    width: 94%;
  }
}
@media screen and (max-width: 850px) {
  .banner .nav_w .nav_v a {
    margin-right: 20px;
  }
  .banner .img img.mobile {
    display: block;
  }
  .banner .img img.pc {
    display: none;
  }
  .act-box .list {
    padding: 40px 0;
  }
  .act-box .list .page_title {
    float: none;
    width: 100%;
  }
  .act-box .list .page_title p {
    margin-bottom: 20px;
  }
  .act-box .list .l_img {
    float: none;
    width: 100%;
  }
  .act-box .list .content_p {
    float: none;
    width: 100%;
  }
}
